# 1 Importar Livrerias 
### Pandas e Numpy

In [1]:
import pandas as pd
import numpy as np

# 2 Ler arquivo arquivo CSV
### Revisar tipo de separador decodificador nas primeras lineas de informação

In [2]:
file = open('C:/Users/forqu/OneDrive/Documentos/IronHack/Github/Projetos/Shark Attack/attacks.csv', 'rb')
file_lines = file.readlines(10000)
for i in range(5):
    print(file_lines[i].decode('latin-1'))
file.close()

Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex ,Age,Injury,Fatal (Y/N),Time,Species ,Investigator or Source,pdf,href formula,href,Case Number,Case Number,original order,,

2018.06.25,25-Jun-2018,2018,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,57,"No injury to occupant, outrigger canoe and paddle damaged",N,18h00,White shark,"R. Collier, GSAF",2018.06.25-Wolfe.pdf,http://sharkattackfile.net/spreadsheets/pdf_directory/2018.06.25-Wolfe.pdf,http://sharkattackfile.net/spreadsheets/pdf_directory/2018.06.25-Wolfe.pdf,2018.06.25,2018.06.25,6303,,

2018.06.18,18-Jun-2018,2018,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,Adyson McNeely ,F,11,Minor injury to left thigh,N,14h00  -15h00,,"K.McMurray, TrackingSharks.com",2018.06.18-McNeely.pdf,http://sharkattackfile.net/spreadsheets/pdf_directory/2018.06.18-McNeely.pdf,http://sharkattackfile.net/spreadsheets/pdf_directory/2018.06.18-McNeely.pdf,2018.06.18,2018.06.18,6302,,

2018.06.09,09-Jun-2018,2018,Invalid,USA,Hawaii,"Habush, Oahu",Surfing,John Denges,M,48,Injury to left lower leg from surfboard skeg,N,07h45,,"K.McMurray, TrackingSharks.com",2018.06.09-Denges.pdf,http://sharkattackfile.net/spreadsheets/pdf_directory/2018.06.09-Denges.pdf,http://sharkattackfile.net/spreadsheets/pdf_directory/2018.06.09-Denges.pdf,2018.06.09,2018.06.09,6301,,

2018.06.08,08-Jun-2018,2018,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,male,M,,Minor injury to lower leg,N,,2 m shark,"B. Myatt, GSAF",2018.06.08-Arrawarra.pdf,http://sharkattackfile.net/spreadsheets/pdf_directory/2018.06.08-Arrawarra.pdf,http://sharkattackfile.net/spreadsheets/pdf_directory/2018.06.08-Arrawarra.pdf,2018.06.08,2018.06.08,6300,,

Criar o DataSet com as informações do arquivo

In [3]:
sharkattack=pd.read_csv('C:/Users/forqu/OneDrive/Documentos/IronHack/Github/Projetos/Shark Attack/attacks.csv', sep = ',', decimal = '.', encoding = 'latin-1')

# 3 Conhecer o DataSet 
### Revisar informações DataSet

In [4]:
sharkattack.head()

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,...,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order,Unnamed: 22,Unnamed: 23
0,2018.06.25,25-Jun-2018,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,...,White shark,"R. Collier, GSAF",2018.06.25-Wolfe.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.25,2018.06.25,6303.0,NaN,NaN
1,2018.06.18,18-Jun-2018,2018.0,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,Adyson McNeely,F,...,NaN,"K.McMurray, TrackingSharks.com",2018.06.18-McNeely.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.18,2018.06.18,6302.0,NaN,NaN
2,2018.06.09,09-Jun-2018,2018.0,Invalid,USA,Hawaii,"Habush, Oahu",Surfing,John Denges,M,...,NaN,"K.McMurray, TrackingSharks.com",2018.06.09-Denges.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.09,2018.06.09,6301.0,NaN,NaN
3,2018.06.08,08-Jun-2018,2018.0,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,male,M,...,2 m shark,"B. Myatt, GSAF",2018.06.08-Arrawarra.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.08,2018.06.08,6300.0,NaN,NaN
4,2018.06.04,04-Jun-2018,2018.0,Provoked,MEXICO,Colima,La Ticla,Free diving,Gustavo Ramos,M,...,"Tiger shark, 3m",A .Kipper,2018.06.04-Ramos.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.04,2018.06.04,6299.0,NaN,NaN

In [5]:
sharkattack.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25723 entries, 0 to 25722
Data columns (total 24 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Case Number             8702 non-null   object
 1   Date                    6302 non-null   object
 2   Year                    6300 non-null   float64
 3   Type                    6298 non-null   object
 4   Country                 6252 non-null   object
 5   Area                    5847 non-null   object
 6   Location                5762 non-null   object
 7   Activity                5758 non-null   object
 8   Name                    6092 non-null   object
 9   Sex                     5737 non-null   object
 10  Age                     3471 non-null   object
 11  Injury                  6274 non-null   object
 12  Fatal (Y/N)             5763 non-null   object
 13  Time                    2948 non-null   object
 14  Species                 3464 non-null   object
 15  Investigator or Source  6285 non-null   object
 16  pdf                     6302 non-null   object
 17  href formula            6301 non-null   object
 18  href                    6302 non-null   object
 19  Case Number.1           6302 non-null   object
 20  Case Number.2           6302 non-null   object
 21  original order          6309 non-null   float64
 22  Unnamed: 22             1 non-null      object
 23  Unnamed: 23             2 non-null      object
dtypes: float64(2), object(22)
memory usage: 4.7+ MB

Revisar informação de Columnas Unnamed

In [6]:
sharkattack['Unnamed: 22'].value_counts()

stopped here    1
Name: Unnamed: 22, dtype: int64

In [7]:
sharkattack['Unnamed: 23'].value_counts()

change filename    1
Teramo             1
Name: Unnamed: 23, dtype: int64

Eliminar Columnas Unnamed

In [8]:
sharkattack = sharkattack.drop(['Unnamed: 22','Unnamed: 23'],  axis=1)

### Padronizar nomes colunas

In [9]:
sharkattack.columns

Index(['Case Number', 'Date', 'Year', 'Type', 'Country', 'Area', 'Location',
       'Activity', 'Name', 'Sex ', 'Age', 'Injury', 'Fatal (Y/N)', 'Time',
       'Species ', 'Investigator or Source', 'pdf', 'href formula', 'href',
       'Case Number.1', 'Case Number.2', 'original order'],
      dtype='object')

In [10]:
sharkattack.columns = [column.lower().replace(' ', '_').replace('(', '').replace(')', '').replace('.', '_') for column in sharkattack.columns]
sharkattack.columns

Index(['case_number', 'date', 'year', 'type', 'country', 'area', 'location',
       'activity', 'name', 'sex_', 'age', 'injury', 'fatal_y/n', 'time',
       'species_', 'investigator_or_source', 'pdf', 'href_formula', 'href',
       'case_number_1', 'case_number_2', 'original_order'],
      dtype='object')

In [11]:
sharkattack = sharkattack.rename(columns={"sex_": "sex", "species_": "species"})
sharkattack.columns

Index(['case_number', 'date', 'year', 'type', 'country', 'area', 'location',
       'activity', 'name', 'sex', 'age', 'injury', 'fatal_y/n', 'time',
       'species', 'investigator_or_source', 'pdf', 'href_formula', 'href',
       'case_number_1', 'case_number_2', 'original_order'],
      dtype='object')

In [12]:
sharkattack.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25723 entries, 0 to 25722
Data columns (total 22 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   case_number             8702 non-null   object
 1   date                    6302 non-null   object
 2   year                    6300 non-null   float64
 3   type                    6298 non-null   object
 4   country                 6252 non-null   object
 5   area                    5847 non-null   object
 6   location                5762 non-null   object
 7   activity                5758 non-null   object
 8   name                    6092 non-null   object
 9   sex                     5737 non-null   object
 10  age                     3471 non-null   object
 11  injury                  6274 non-null   object
 12  fatal_y/n               5763 non-null   object
 13  time                    2948 non-null   object
 14  species                 3464 non-null   object
 15  investigator_or_source  6285 non-null   object
 16  pdf                     6302 non-null   object
 17  href_formula            6301 non-null   object
 18  href                    6302 non-null   object
 19  case_number_1           6302 non-null   object
 20  case_number_2           6302 non-null   object
 21  original_order          6309 non-null   float64
dtypes: float64(2), object(20)
memory usage: 4.3+ MB

### Entender distribucion Na
% Na por columnas

In [13]:
sharkattack.isna().sum(axis = 0)
(sharkattack.isna().sum(axis = 0)/len(sharkattack)).round(2)

case_number               0.66
date                      0.76
year                      0.76
type                      0.76
country                   0.76
area                      0.77
location                  0.78
activity                  0.78
name                      0.76
sex                       0.78
age                       0.87
injury                    0.76
fatal_y/n                 0.78
time                      0.89
species                   0.87
investigator_or_source    0.76
pdf                       0.76
href_formula              0.76
href                      0.76
case_number_1             0.76
case_number_2             0.76
original_order            0.75
dtype: float64

Na por filas

In [15]:
sharkattack.isna().sum(axis = 1)
(sharkattack.isna().sum(axis = 1)/len(sharkattack.columns)).describe().round(2)
(sharkattack.isna().sum(axis = 1)/len(sharkattack.columns)).quantile([.05, .10 , .15, .20, .21, .22, .23, .24, .25])

0.05    0.000000
0.10    0.045455
0.15    0.090909
0.20    0.136364
0.21    0.181818
0.22    0.181818
0.23    0.227273
0.24    0.272727
0.25    0.954545
dtype: float64

In [66]:
case_number_notna = sharkattack[['case_number','case_number_1','case_number_2']].dropna(axis=0, how='all')
case_number_notna

      case_number case_number_1 case_number_2
0      2018.06.25    2018.06.25    2018.06.25
1      2018.06.18    2018.06.18    2018.06.18
2      2018.06.09    2018.06.09    2018.06.09
3      2018.06.08    2018.06.08    2018.06.08
4      2018.06.04    2018.06.04    2018.06.04
...           ...           ...           ...
8698            0           NaN           NaN
8699            0           NaN           NaN
8700            0           NaN           NaN
8701            0           NaN           NaN
25722          xx           NaN           NaN

[8703 rows x 3 columns]

In [71]:
case_number_notna['duplicado'] = np.where(case_number_notna['case_number'] == case_number_notna['case_number_1'] ,'Duplicated case & case 1' ,
                                          np.where(case_number_notna['case_number'] == case_number_notna['case_number_2'] ,'Duplicated case & case 2' ,
                                                   np.where(case_number_notna['case_number_1'] == case_number_notna['case_number_2'] ,'Duplicated case 1 & case 2' ,
                                                            'Not Duplicated')))
case_number_notna['duplicado'].value_counts()

Duplicated case & case 1      6278
Not Duplicated                2401
Duplicated case & case 2        20
Duplicated case 1 & case 2       4
Name: duplicado, dtype: int64

In [26]:
sharkattack['case_number'].value_counts()

0               2400
1980.07.00         2
1983.06.15         2
1907.10.16.R       2
2006.09.02         2
                ...
2016.01.23         1
1935.03.11         1
1963.12.25         1
1847.00.00.c       1
1947.01.14         1
Name: case_number, Length: 6287, dtype: int64

In [27]:
sharkattack['case_number_1'].value_counts()

2014.08.02      2
1920.00.00.b    2
1913.08.27.R    2
1907.10.16.R    2
1980.07.00      2
               ..
2016.01.23      1
1935.03.11      1
1963.12.25      1
1847.00.00.c    1
1947.01.14      1
Name: case_number_1, Length: 6285, dtype: int64

In [28]:
sharkattack['case_number_2'].value_counts()

2014.08.02        2
1983.06.15        2
1966.12.26        2
1915.07.06.a.R    2
1913.08.27.R      2
                 ..
2016.01.23        1
1935.03.11        1
1963.12.25        1
1847.00.00.c      1
1947.01.14        1
Name: case_number_2, Length: 6286, dtype: int64

In [24]:
sharkattack['case_number_con'] = np.where(sharkattack['case_number'].notna() & sharkattack['case_number_1'].notna() & sharkattack['case_number_2'].notna(), sharkattack['case_number'] + '-' + sharkattack['case_number_1'] + '-' + sharkattack['case_number_2'],
                                          np.where(sharkattack['case_number'].isna() & sharkattack['case_number_1'].notna() & sharkattack['case_number_2'].notna(), sharkattack['case_number_1'] + '-' + sharkattack['case_number_2'],
                                                   np.where(sharkattack['case_number'].isna() & sharkattack['case_number_1'].isna() & sharkattack['case_number_2'].notna(), sharkattack['case_number_2'],
                                                                     np.where(sharkattack['case_number'].isna() & sharkattack['case_number_1'].notna() & sharkattack['case_number_2'].isna(), sharkattack['case_number_1'],
                                                                              np.where(sharkattack['case_number'].notna() & sharkattack['case_number_1'].notna() & sharkattack['case_number_2'].isna(),sharkattack['case_number'] + '-' + sharkattack['case_number_1'],
                                                                                      np.where(sharkattack['case_number'].notna() & sharkattack['case_number_1'].isna() & sharkattack['case_number_2'].notna(),sharkattack['case_number'] + '-' + sharkattack['case_number_2'],
                                                                                              np.where(sharkattack['case_number'].notna() & sharkattack['case_number_1'].isna() & sharkattack['case_number_2'].isna(), sharkattack['case_number'],
                                                                                                      pd.NA)))))))

In [29]:
sharkattack['case_number_con'].value_counts()

0                                         2400
1983.06.15-1983.06.15-1983.06.15             2
2009.12.18-2009.12.18-2009.12.18             2
1913.08.27.R-1913.08.27.R-1913.08.27.R       2
1920.00.00.b-1920.00.00.b-1920.00.00.b       2
                                          ...
2001.07.06.b-2001.07.06.b-2001.07.06.b       1
1995.03.21-1995.03.21-1995.03.21             1
1954.10.07-1954.10.07-1954.10.07             1
1962.01.11.c-1962.01.11.c-1962.01.11.c       1
1930.00.00.c-1930.00.00.c-1930.00.00.c       1
Name: case_number_con, Length: 6288, dtype: int64

In [ ]:
sharkattack['na_values'] = sharkattack.isna().sum(axis = 1)

In [ ]:
sharkattack['date'].value_counts()

In [ ]:
sharkattack['year'].value_counts()

In [ ]:
sharkattack['type'].value_counts()

In [ ]:
sharkattack['country'].value_counts()

In [ ]:
sharkattack['area'].value_counts()

In [ ]:
sharkattack[sharkattack['num_val_na'] < 10]