# 1 Importar Livrerias 
### Pandas e Numpy

In [1]:
import pandas as pd
import numpy as np

# 2 Ler arquivo arquivo CSV
### Revisar tipo de separador decodificador nas primeras lineas de informação

In [2]:
file = open('C:/Users/forqu/OneDrive/Documentos/IronHack/Github/Projetos/Shark Attack/attacks.csv', 'rb')
file_lines = file.readlines(10000)
for i in range(5):
    print(file_lines[i].decode('latin-1'))
file.close()

Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex ,Age,Injury,Fatal (Y/N),Time,Species ,Investigator or Source,pdf,href formula,href,Case Number,Case Number,original order,,

2018.06.25,25-Jun-2018,2018,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,57,"No injury to occupant, outrigger canoe and paddle damaged",N,18h00,White shark,"R. Collier, GSAF",2018.06.25-Wolfe.pdf,http://sharkattackfile.net/spreadsheets/pdf_directory/2018.06.25-Wolfe.pdf,http://sharkattackfile.net/spreadsheets/pdf_directory/2018.06.25-Wolfe.pdf,2018.06.25,2018.06.25,6303,,

2018.06.18,18-Jun-2018,2018,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,Adyson McNeely ,F,11,Minor injury to left thigh,N,14h00  -15h00,,"K.McMurray, TrackingSharks.com",2018.06.18-McNeely.pdf,http://sharkattackfile.net/spreadsheets/pdf_directory/2018.06.18-McNeely.pdf,http://sharkattackfile.net/spreadsheets/pdf_directory/2018.06.18-McNeely.pdf,2018.06.18,2018.06.18,6302,,

2018.06.09,09-Jun-2018,2018,Invalid,USA,Hawaii,"Habush, Oahu",Surfing,John Denges,M,48,Injury to left lower leg from surfboard skeg,N,07h45,,"K.McMurray, TrackingSharks.com",2018.06.09-Denges.pdf,http://sharkattackfile.net/spreadsheets/pdf_directory/2018.06.09-Denges.pdf,http://sharkattackfile.net/spreadsheets/pdf_directory/2018.06.09-Denges.pdf,2018.06.09,2018.06.09,6301,,

2018.06.08,08-Jun-2018,2018,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,male,M,,Minor injury to lower leg,N,,2 m shark,"B. Myatt, GSAF",2018.06.08-Arrawarra.pdf,http://sharkattackfile.net/spreadsheets/pdf_directory/2018.06.08-Arrawarra.pdf,http://sharkattackfile.net/spreadsheets/pdf_directory/2018.06.08-Arrawarra.pdf,2018.06.08,2018.06.08,6300,,

Criar o DataSet com as informações do arquivo

In [3]:
sharkattack=pd.read_csv('C:/Users/forqu/OneDrive/Documentos/IronHack/Github/Projetos/Shark Attack/attacks.csv', sep = ',', decimal = '.', encoding = 'latin-1')

# 3 Conhecer o DataSet 
### Revisar informações DataSet

In [4]:
sharkattack.head()

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,...,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order,Unnamed: 22,Unnamed: 23
0,2018.06.25,25-Jun-2018,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,...,White shark,"R. Collier, GSAF",2018.06.25-Wolfe.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.25,2018.06.25,6303.0,NaN,NaN
1,2018.06.18,18-Jun-2018,2018.0,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,Adyson McNeely,F,...,NaN,"K.McMurray, TrackingSharks.com",2018.06.18-McNeely.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.18,2018.06.18,6302.0,NaN,NaN
2,2018.06.09,09-Jun-2018,2018.0,Invalid,USA,Hawaii,"Habush, Oahu",Surfing,John Denges,M,...,NaN,"K.McMurray, TrackingSharks.com",2018.06.09-Denges.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.09,2018.06.09,6301.0,NaN,NaN
3,2018.06.08,08-Jun-2018,2018.0,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,male,M,...,2 m shark,"B. Myatt, GSAF",2018.06.08-Arrawarra.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.08,2018.06.08,6300.0,NaN,NaN
4,2018.06.04,04-Jun-2018,2018.0,Provoked,MEXICO,Colima,La Ticla,Free diving,Gustavo Ramos,M,...,"Tiger shark, 3m",A .Kipper,2018.06.04-Ramos.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.04,2018.06.04,6299.0,NaN,NaN

In [5]:
sharkattack.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25723 entries, 0 to 25722
Data columns (total 24 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Case Number             8702 non-null   object
 1   Date                    6302 non-null   object
 2   Year                    6300 non-null   float64
 3   Type                    6298 non-null   object
 4   Country                 6252 non-null   object
 5   Area                    5847 non-null   object
 6   Location                5762 non-null   object
 7   Activity                5758 non-null   object
 8   Name                    6092 non-null   object
 9   Sex                     5737 non-null   object
 10  Age                     3471 non-null   object
 11  Injury                  6274 non-null   object
 12  Fatal (Y/N)             5763 non-null   object
 13  Time                    2948 non-null   object
 14  Species                 3464 non-null   object
 15  Investigator or Source  6285 non-null   object
 16  pdf                     6302 non-null   object
 17  href formula            6301 non-null   object
 18  href                    6302 non-null   object
 19  Case Number.1           6302 non-null   object
 20  Case Number.2           6302 non-null   object
 21  original order          6309 non-null   float64
 22  Unnamed: 22             1 non-null      object
 23  Unnamed: 23             2 non-null      object
dtypes: float64(2), object(22)
memory usage: 4.7+ MB

Revisar informação de Columnas Unnamed

In [6]:
sharkattack['Unnamed: 22'].value_counts()

stopped here    1
Name: Unnamed: 22, dtype: int64

In [7]:
sharkattack['Unnamed: 23'].value_counts()

change filename    1
Teramo             1
Name: Unnamed: 23, dtype: int64

Eliminar Columnas Unnamed

In [8]:
sharkattack = sharkattack.drop(['Unnamed: 22','Unnamed: 23'],  axis=1)

### Padronizar nomes colunas

In [9]:
sharkattack.columns

Index(['Case Number', 'Date', 'Year', 'Type', 'Country', 'Area', 'Location',
       'Activity', 'Name', 'Sex ', 'Age', 'Injury', 'Fatal (Y/N)', 'Time',
       'Species ', 'Investigator or Source', 'pdf', 'href formula', 'href',
       'Case Number.1', 'Case Number.2', 'original order'],
      dtype='object')

In [10]:
sharkattack.columns = [column.lower().replace(' ', '_').replace('(', '').replace(')', '').replace('.', '_') for column in sharkattack.columns]
sharkattack.columns

Index(['case_number', 'date', 'year', 'type', 'country', 'area', 'location',
       'activity', 'name', 'sex_', 'age', 'injury', 'fatal_y/n', 'time',
       'species_', 'investigator_or_source', 'pdf', 'href_formula', 'href',
       'case_number_1', 'case_number_2', 'original_order'],
      dtype='object')

In [11]:
sharkattack = sharkattack.rename(columns={"sex_": "sex", "species_": "species", "fatal_y/n" : "fatal"})
sharkattack.columns

Index(['case_number', 'date', 'year', 'type', 'country', 'area', 'location',
       'activity', 'name', 'sex', 'age', 'injury', 'fatal', 'time', 'species',
       'investigator_or_source', 'pdf', 'href_formula', 'href',
       'case_number_1', 'case_number_2', 'original_order'],
      dtype='object')

In [12]:
sharkattack.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25723 entries, 0 to 25722
Data columns (total 22 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   case_number             8702 non-null   object
 1   date                    6302 non-null   object
 2   year                    6300 non-null   float64
 3   type                    6298 non-null   object
 4   country                 6252 non-null   object
 5   area                    5847 non-null   object
 6   location                5762 non-null   object
 7   activity                5758 non-null   object
 8   name                    6092 non-null   object
 9   sex                     5737 non-null   object
 10  age                     3471 non-null   object
 11  injury                  6274 non-null   object
 12  fatal                   5763 non-null   object
 13  time                    2948 non-null   object
 14  species                 3464 non-null   object
 15  investigator_or_source  6285 non-null   object
 16  pdf                     6302 non-null   object
 17  href_formula            6301 non-null   object
 18  href                    6302 non-null   object
 19  case_number_1           6302 non-null   object
 20  case_number_2           6302 non-null   object
 21  original_order          6309 non-null   float64
dtypes: float64(2), object(20)
memory usage: 4.3+ MB

### Entender distribucion Na
% Na por columnas

In [13]:
sharkattack.isna().sum(axis = 0)
(sharkattack.isna().sum(axis = 0)/len(sharkattack)).round(2)

case_number               0.66
date                      0.76
year                      0.76
type                      0.76
country                   0.76
area                      0.77
location                  0.78
activity                  0.78
name                      0.76
sex                       0.78
age                       0.87
injury                    0.76
fatal                     0.78
time                      0.89
species                   0.87
investigator_or_source    0.76
pdf                       0.76
href_formula              0.76
href                      0.76
case_number_1             0.76
case_number_2             0.76
original_order            0.75
dtype: float64

Na por filas

In [14]:
sharkattack.isna().sum(axis = 1)
(sharkattack.isna().sum(axis = 1)/len(sharkattack.columns)).describe().round(2)
#(sharkattack.isna().sum(axis = 1)/len(sharkattack.columns)).quantile([.05, .10 , .15, .20, .21, .22, .23, .24, .25])

count    25723.00
mean         0.77
std          0.39
min          0.00
25%          0.95
50%          1.00
75%          1.00
max          1.00
dtype: float64

Eliminar lineas com menos de 20% columnas sem informação Na

In [15]:
sharkattack = sharkattack.dropna(axis=0, thresh= int(len(sharkattack.columns) * 0.20))
sharkattack.isna().sum()

case_number                  1
date                         0
year                         2
type                         4
country                     50
area                       455
location                   540
activity                   544
name                       210
sex                        565
age                       2831
injury                      28
fatal                      539
time                      3354
species                   2838
investigator_or_source      17
pdf                          0
href_formula                 1
href                         0
case_number_1                0
case_number_2                0
original_order               0
dtype: int64

Convertir columna year em int, Corrigue Na trazendo ano do campo Case_number

In [16]:
sharkattack['year'].unique()

array([2018., 2017.,   nan, 2016., 2015., 2014., 2013., 2012., 2011.,
       2010., 2009., 2008., 2007., 2006., 2005., 2004., 2003., 2002.,
       2001., 2000., 1999., 1998., 1997., 1996., 1995., 1984., 1994.,
       1993., 1992., 1991., 1990., 1989., 1969., 1988., 1987., 1986.,
       1985., 1983., 1982., 1981., 1980., 1979., 1978., 1977., 1976.,
       1975., 1974., 1973., 1972., 1971., 1970., 1968., 1967., 1966.,
       1965., 1964., 1963., 1962., 1961., 1960., 1959., 1958., 1957.,
       1956., 1955., 1954., 1953., 1952., 1951., 1950., 1949., 1948.,
       1848., 1947., 1946., 1945., 1944., 1943., 1942., 1941., 1940.,
       1939., 1938., 1937., 1936., 1935., 1934., 1933., 1932., 1931.,
       1930., 1929., 1928., 1927., 1926., 1925., 1924., 1923., 1922.,
       1921., 1920., 1919., 1918., 1917., 1916., 1915., 1914., 1913.,
       1912., 1911., 1910., 1909., 1908., 1907., 1906., 1905., 1904.,
       1903., 1902., 1901., 1900., 1899., 1898., 1897., 1896., 1895.,
       1894., 1893., 1892., 1891., 1890., 1889., 1888., 1887., 1886.,
       1885., 1884., 1883., 1882., 1881., 1880., 1879., 1878., 1877.,
       1876., 1875., 1874., 1873., 1872., 1871., 1870., 1869., 1868.,
       1867., 1866., 1865., 1864., 1863., 1862., 1861., 1860., 1859.,
       1858., 1857., 1856., 1855., 1853., 1852., 1851., 1850., 1849.,
       1847., 1846., 1845., 1844., 1842., 1841., 1840., 1839., 1837.,
       1836., 1835., 1834., 1832., 1831., 1830., 1829., 1828., 1827.,
       1826., 1825., 1823., 1822., 1819., 1818., 1817., 1816., 1815.,
       1812., 1811., 1810., 1808., 1807., 1805., 1804., 1803., 1802.,
       1801., 1800., 1797., 1792., 1791., 1788., 1787., 1786., 1785.,
       1784., 1783., 1780., 1779., 1776., 1771., 1767., 1764., 1758.,
       1753., 1751., 1749., 1755., 1748., 1742., 1738., 1733., 1723.,
       1721., 1703., 1700., 1642., 1638., 1637., 1617., 1595., 1580.,
       1555., 1554., 1543.,  500.,   77.,    5.,    0.])

In [17]:
sharkattack['year'] = np.where(sharkattack['year'].isna(), sharkattack['case_number'].str.slice(stop=4), sharkattack['year'])
sharkattack['year'] = sharkattack['year'].map(int)
sharkattack['year'].describe()

count    6302.000000
mean     1927.272136
std       281.076315
min         0.000000
25%      1942.000000
50%      1977.000000
75%      2005.000000
max      2018.000000
Name: year, dtype: float64

Correguir info do campo fatal

In [18]:
sharkattack['fatal'].value_counts()

N          4293
Y          1388
UNKNOWN      71
 N            7
2017          1
M             1
y             1
N             1
Name: fatal, dtype: int64

In [19]:
sharkattack['fatal'] = sharkattack['fatal'].str.replace(' ', '')
sharkattack['fatal'] = sharkattack['fatal'].str.replace('2017', 'unknown')
sharkattack['fatal'] = sharkattack['fatal'].str.replace(r'[Mm]', 'unknown')
sharkattack['fatal'] = sharkattack['fatal'].str.lower()
sharkattack['fatal'].value_counts()

<ipython-input-19-539ae97fcdbc>:3: FutureWarning: The default value of regex will change from True to False in a future version.
  sharkattack['fatal'] = sharkattack['fatal'].str.replace(r'[Mm]', 'unknown')

n          4301
y          1389
unknown      73
Name: fatal, dtype: int64

Corregir info do campo age , criar rango

In [20]:
sharkattack['age'].unique()

array(['57', '11', '48', nan, '18', '52', '15', '12', '32', '10', '21',
       '34', '30', '60', '33', '29', '54', '41', '37', '56', '19', '25',
       '69', '38', '55', '35', '46', '45', '14', '40s', '28', '20', '24',
       '26', '49', '22', '7', '31', '17', '40', '13', '42', '3', '8',
       '50', '16', '82', '73', '20s', '68', '51', '39', '58', 'Teen',
       '47', '61', '65', '36', '66', '43', '60s', '9', '72', '59', '6',
       '27', '64', '23', '71', '44', '62', '63', '70', '18 months', '53',
       '30s', '50s', 'teen', '77', '74', '28 & 26', '5', '86', '18 or 20',
       '12 or 13', '46 & 34', '28, 23 & 30', 'Teens', '36 & 26',
       '8 or 10', '84', '\xa0 ', ' ', '30 or 36', '6½', '21 & ?', '75',
       '33 or 37', 'mid-30s', '23 & 20', ' 30', '7      &    31', ' 28',
       '20?', "60's", '32 & 30', '16 to 18', '87', '67', 'Elderly',
       'mid-20s', 'Ca. 33', '74 ', '45 ', '21 or 26', '20 ', '>50',
       '18 to 22', 'adult', '9 & 12', '? & 19', '9 months', '25 to 35',
       '23 & 26', '1', '(adult)', '33 & 37', '25 or 28',
       '37, 67, 35, 27,  ? & 27', '21, 34,24 & 35', '30 & 32', '50 & 30',
       '17 & 35', 'X', '"middle-age"', '13 or 18', '34 & 19', '33 & 26',
       '2 to 3 months', 'MAKE LINE GREEN', ' 43', '81', '"young"',
       '7 or 8', '78', '17 & 16', 'F', 'Both 11', '9 or 10', 'young',
       '36 & 23', '  ', 'A.M.', '?    &   14', '10 or 12', '31 or 33',
       '2½', '13 or 14'], dtype=object)

In [21]:
def age(value): 
    value = str(value)
    list_value = value.split(' ')
    new_list = []
    new_val= '0'
    for value in list_value :
        if value.isnumeric() : 
            try :
                value = int(value)
                return value
            except ValueError :
                value = 'unknown'
                return value
        elif ~value.isnumeric() : 
            value = value.lower().replace(' ', '').replace('(','').replace(')','')
            if value == 'toddler' or value == 'child' or value == 'teen' or value == 'adult' or value == 'middle-age' or value == 'elderly' :
                value = value
                return value
            elif value == 'teens' :
                value = 'teen'
                return value
            elif value == 'young' :
                value = 'child'
                return value
        else :
            value = 'unknown'
            return value

In [22]:
sharkattack['age']= sharkattack['age'].apply(age)
sharkattack['age']. unique()

array([57, 11, 48, None, 18, 52, 15, 12, 32, 10, 21, 34, 30, 60, 33, 29,
       54, 41, 37, 56, 19, 25, 69, 38, 55, 35, 46, 45, 14, 28, 20, 24, 26,
       49, 22, 7, 31, 17, 40, 13, 42, 3, 8, 50, 16, 82, 73, 68, 51, 39,
       58, 'teen', 47, 61, 65, 36, 66, 43, 9, 72, 59, 6, 27, 64, 23, 71,
       44, 62, 63, 70, 53, 77, 74, 5, 86, 84, 'unknown', 75, 87, 67,
       'elderly', 'adult', 1, 2, 81, 78, 'child'], dtype=object)

In [23]:
def age_rage(value) :
    if type(value) == int :
        if value <= 3 :
            value = 'toddler'
            return value
        elif value > 3 and value <= 12 :
            value = 'child'
            return value
        elif value > 12 and value <= 18 :
            value = 'teen'
            return value
        elif value > 18 and value <= 35 :
            value = 'adult'
            return value
        elif value > 35 and value <= 60 :
            value = 'middle-age'
            return value
        elif value > 60 :
            value = 'elderly'
            return value
    else :
        value = value
        return value

In [24]:
sharkattack['age_range']= sharkattack['age'].apply(age_rage)
sharkattack['age_range'].value_counts()

adult         1517
teen           800
middle-age     735
child          285
elderly         89
toddler          8
unknown          2
Name: age_range, dtype: int64

In [25]:
sharkattack['sex'].unique()

array(['F', 'M', nan, 'M ', 'lli', 'N', '.'], dtype=object)

In [26]:
sharkattack['sex'] = sharkattack['sex'].str.replace(' ', '')
sharkattack['sex'] = sharkattack['sex'].str.replace('N', 'unkonwn')
sharkattack['sex'] = sharkattack['sex'].str.replace('.', 'unkonwn')
sharkattack['sex'] = sharkattack['sex'].str.replace('lli', 'unkonwn')
sharkattack['sex'] = sharkattack['sex'].str.lower()
sharkattack['sex'].value_counts()

<ipython-input-26-873e43548a5d>:3: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will*not* be treated as literal strings when regex=True.
  sharkattack['sex'] = sharkattack['sex'].str.replace('.', 'unkonwn')

m          5096
f           637
unkonwn       4
Name: sex, dtype: int64

FatalidadeXanoXrangoedade

In [27]:
sharkattack.columns

Index(['case_number', 'date', 'year', 'type', 'country', 'area', 'location',
       'activity', 'name', 'sex', 'age', 'injury', 'fatal', 'time', 'species',
       'investigator_or_source', 'pdf', 'href_formula', 'href',
       'case_number_1', 'case_number_2', 'original_order', 'age_range'],
      dtype='object')

In [36]:
sharkfatal = sharkattack[['fatal','year','age_range']]
sharkfatal

     fatal  year   age_range
0        n  2018  middle-age
1        n  2018       child
2        n  2018  middle-age
3        n  2018        None
4        n  2018        None
...    ...   ...         ...
6297     y     0        None
6298     y     0        None
6299     y     0        None
6300     y     0        None
6301     y     0        teen

[6302 rows x 3 columns]

In [37]:
fatalyear = sharkfatal.groupby(['fatal','age_range'])['fatal'].count()
fatalyear

fatal    age_range
n        adult         1135
         child          223
         elderly         57
         middle-age     566
         teen           603
         toddler          2
         unknown          1
unknown  adult            4
         middle-age       1
         teen             7
y        adult          284
         child           36
         elderly         23
         middle-age     107
         teen           156
         toddler          4
         unknown          1
Name: fatal, dtype: int64

In [34]:
fatalyear = pd.DataFrame(fatalyear)
print(type(fatalyear))
fatalyear.sort_values('year', ascending=False)

<class 'pandas.core.frame.DataFrame'>

              fatal
year fatal
2018 y            1
     n           51
2017 y            8
     n          115
2016 y            5
...             ...
77   y            1
5    n            1
0    y           59
     unknown      1
     n           64

[463 rows x 1 columns]

limpar anos (trabalhar anos de 1900 para frente )