# Lab | Data Cleaning

## Introduction

We keep seeing a common phrase that 80% of the work of a data scientist is data cleaning. We have no idea whether this number is accurate but a data scientist indeed spends lots of time and effort in collecting, cleaning and preparing the data for analysis. This is because datasets are usually messy and complex in nature. It is a very important ability for a data scientist to refine and restructure datasets into a usable state in order to proceed to the data analysis stage.

In this exercise, you will both practice the data cleaning techniques we discussed in the lesson and learn new techniques by looking up documentations and references. You will work on your own but remember the teaching staff is at your service whenever you encounter problems.


## Resources

[Data Cleaning with Numpy and Pandas](https://realpython.com/python-data-cleaning-numpy-pandas/#python-data-cleaning-recap-and-resources)

[Data Preparation](https://www.kdnuggets.com/2017/06/7-steps-mastering-data-preparation-python.html)

# Import library

In [1]:
# Your code here
import pandas as pd
import numpy as np

# Read the users dataset.

Take a look at what is the `users.csv` separator.

In [2]:
# Your code here
file = open('C:/Users/forqu/OneDrive/Documentos/IronHack/Github/Data/Data_M01-L12-data_cleaning/users.csv', 'rb')
file_lines = file.readlines(10000)
for i in range(5):
    print(file_lines[i].decode('utf-8'))
file.close()

Id#Reputation#CreationDate#DisplayName#LastAccessDate#WebsiteUrl#Location#AboutMe#Views#UpVotes#DownVotes#AccountId#Age#ProfileImageUrl

-1#1#2010-07-19 06:55:26#Community#2010-07-19 06:55:26#http://meta.stackexchange.com/#on the server farm#"<p>Hi, I'm not really a person.</p>



<p>I'm a background process that helps keep this site clean!</p>

## Check its shape

See the number of rows and columns you're dealing.

In [3]:
# Your code here
data_users = pd.read_csv('C:/Users/forqu/OneDrive/Documentos/IronHack/Github/Data/Data_M01-L12-data_cleaning/users.csv', sep = '#')
data_users.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 40503 entries, 0 to 40502
Data columns (total 14 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Id               40503 non-null  int64
 1   Reputation       40503 non-null  int64
 2   CreationDate     40503 non-null  object
 3   DisplayName      40497 non-null  object
 4   LastAccessDate   40503 non-null  object
 5   WebsiteUrl       8158 non-null   object
 6   Location         11731 non-null  object
 7   AboutMe          9424 non-null   object
 8   Views            40503 non-null  int64
 9   UpVotes          40503 non-null  int64
 10  DownVotes        40503 non-null  int64
 11  AccountId        40503 non-null  int64
 12  Age              8352 non-null   float64
 13  ProfileImageUrl  16540 non-null  object
dtypes: float64(1), int64(6), object(7)
memory usage: 4.3+ MB

## Use the .head() to see some rows of your dataframe.

In [4]:
# Your code here
data_users.head(5)

,Id,Reputation,CreationDate,DisplayName,LastAccessDate,WebsiteUrl,Location,AboutMe,Views,UpVotes,DownVotes,AccountId,Age,ProfileImageUrl
0,-1,1,2010-07-19 06:55:26,Community,2010-07-19 06:55:26,http://meta.stackexchange.com/,on the server farm,"<p>Hi, I'm not really a person.</p>\n\n<p>I'm ...",0,5007,1920,-1,NaN,NaN
1,2,101,2010-07-19 14:01:36,Geoff Dalgas,2013-11-12 22:07:23,http://stackoverflow.com,"Corvallis, OR",<p>Developer on the StackOverflow team. Find ...,25,3,0,2,37.0,NaN
2,3,101,2010-07-19 15:34:50,Jarrod Dixon,2014-08-08 06:42:58,http://stackoverflow.com,"New York, NY","<p><a href=""http://blog.stackoverflow.com/2009...",22,19,0,3,35.0,NaN
3,4,101,2010-07-19 19:03:27,Emmett,2014-01-02 09:31:02,http://minesweeperonline.com,"San Francisco, CA",<p>currently at a startup in SF</p>\n\n<p>form...,11,0,0,1998,28.0,http://i.stack.imgur.com/d1oHX.jpg
4,5,6792,2010-07-19 19:03:57,Shane,2014-08-13 00:23:47,http://www.statalgo.com,"New York, NY",<p>Quantitative researcher focusing on statist...,1145,662,5,54503,35.0,NaN

## Get the data info. 

Which columns have a great number of missing values? How many space does this dataframe is occupying in your memory?

Expected output:
````
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 40503 entries, 0 to 40502
Data columns (total 14 columns):
 #   Column           Non-Null Count  Dtype  
---  ------           --------------  -----  
 0   Id               40503 non-null  int64  
 1   Reputation       40503 non-null  int64  
 2   CreationDate     40503 non-null  object 
 3   DisplayName      40497 non-null  object 
 4   LastAccessDate   40503 non-null  object 
 5   WebsiteUrl       8158 non-null   object 
 6   Location         11731 non-null  object 
 7   AboutMe          9424 non-null   object 
 8   Views            40503 non-null  int64  
 9   UpVotes          40503 non-null  int64  
 10  DownVotes        40503 non-null  int64  
 11  AccountId        40503 non-null  int64  
 12  Age              8352 non-null   float64
 13  ProfileImageUrl  16540 non-null  object 
dtypes: float64(1), int64(6), object(7)
memory usage: 4.3+ MB
````

In [5]:
# Your code here
data_users.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 40503 entries, 0 to 40502
Data columns (total 14 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Id               40503 non-null  int64
 1   Reputation       40503 non-null  int64
 2   CreationDate     40503 non-null  object
 3   DisplayName      40497 non-null  object
 4   LastAccessDate   40503 non-null  object
 5   WebsiteUrl       8158 non-null   object
 6   Location         11731 non-null  object
 7   AboutMe          9424 non-null   object
 8   Views            40503 non-null  int64
 9   UpVotes          40503 non-null  int64
 10  DownVotes        40503 non-null  int64
 11  AccountId        40503 non-null  int64
 12  Age              8352 non-null   float64
 13  ProfileImageUrl  16540 non-null  object
dtypes: float64(1), int64(6), object(7)
memory usage: 4.3+ MB

## Rename Id column to user_id.

Remember to store you results back at the dataframe.

In [6]:
# Your code here
data_users = data_users.rename({'Id': 'user_id'}, axis = 1)
data_users.columns

Index(['user_id', 'Reputation', 'CreationDate', 'DisplayName',
       'LastAccessDate', 'WebsiteUrl', 'Location', 'AboutMe', 'Views',
       'UpVotes', 'DownVotes', 'AccountId', 'Age', 'ProfileImageUrl'],
      dtype='object')

# Import the `posts_file.csv` dataset

In [7]:
file = open('C:/Users/forqu/OneDrive/Documentos/IronHack/Github/Data/Data_M01-L12-data_cleaning/posts_file.csv', 'rb')
file_lines = file.readlines(10000)
for i in range(5):
    print(file_lines[i].decode('utf-8'))
file.close()

post_id,PostTypeId,AcceptedAnswerId,CreaionDate,Score,ViewCount,Body,user_id,LasActivityDate,Title,Tags,AnswerCount,CommentCount,FavoriteCount,LastEditorUserId,LastEditDate,CommunityOwnedDate,ParentId,ClosedDate,OwnerDisplayName,LastEditorDisplayName

67711,2,,2013-08-19 02:31:14,3,,"<p>At least in OLS, flipping the direction ($x_j^* = k-x_j$) of an ordinary explanatory variable (/predictor) that isn't involved in any interactions should only change its sign and the coefficient of the constant (along with things those directly affect, like the sign of the t-ratio for the $j$-th variable and the constant's t-ratio and p-value).</p>



<p>If you let $\\beta^*_j =-\\beta_j$ and $\\beta_0^* = \\beta_0+\\beta_j k$ then you can see exactly the same fit is obtained (which must therefore minimize the sum of squares).</p>

In [8]:
# Your code here
data_posts = pd.read_csv('C:/Users/forqu/OneDrive/Documentos/IronHack/Github/Data/Data_M01-L12-data_cleaning/posts_file.csv')

## Perform the same as above to understand a bit of your data (head, info, shape)

In [9]:
# Your code here
data_posts.head(5)

,post_id,PostTypeId,AcceptedAnswerId,CreaionDate,Score,ViewCount,Body,user_id,LasActivityDate,Title,...,AnswerCount,CommentCount,FavoriteCount,LastEditorUserId,LastEditDate,CommunityOwnedDate,ParentId,ClosedDate,OwnerDisplayName,LastEditorDisplayName
0,67711,2,NaN,2013-08-19 02:31:14,3,NaN,"<p>At least in OLS, flipping the direction ($x...",805.0,2013-08-19 10:17:50,NaN,...,NaN,0,NaN,805.0,2013-08-19 10:17:50,NaN,67709.0,NaN,NaN,NaN
1,92493,1,NaN,2014-04-04 05:35:59,2,18.0,<p>I have used a psychometric survey of 10 ite...,43085.0,2014-04-04 05:35:59,Multiple Regression - Extreme F-statistic and ...,...,0.0,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,86981,2,NaN,2014-02-18 08:39:04,1,NaN,<p>I think that this is due to familywise erro...,38450.0,2014-02-18 09:04:57,NaN,...,NaN,1,NaN,805.0,2014-02-18 09:04:57,NaN,86889.0,NaN,NaN,NaN
3,38717,2,NaN,2012-10-05 09:49:08,2,NaN,"<p>There's a <a href=""http://www.ncbi.nlm.nih....",4598.0,2014-02-15 11:26:53,NaN,...,NaN,3,NaN,4598.0,2014-02-15 11:26:53,NaN,38541.0,NaN,NaN,NaN
4,113919,2,NaN,2014-09-01 01:41:05,3,NaN,"<p>For that data, the estimated regression equ...",805.0,2014-09-01 20:09:53,NaN,...,NaN,1,NaN,805.0,2014-09-01 20:09:53,NaN,113871.0,NaN,NaN,NaN

In [10]:
# shape
data_posts.shape

(8299, 21)

In [11]:
# head
data_posts.head()

,post_id,PostTypeId,AcceptedAnswerId,CreaionDate,Score,ViewCount,Body,user_id,LasActivityDate,Title,...,AnswerCount,CommentCount,FavoriteCount,LastEditorUserId,LastEditDate,CommunityOwnedDate,ParentId,ClosedDate,OwnerDisplayName,LastEditorDisplayName
0,67711,2,NaN,2013-08-19 02:31:14,3,NaN,"<p>At least in OLS, flipping the direction ($x...",805.0,2013-08-19 10:17:50,NaN,...,NaN,0,NaN,805.0,2013-08-19 10:17:50,NaN,67709.0,NaN,NaN,NaN
1,92493,1,NaN,2014-04-04 05:35:59,2,18.0,<p>I have used a psychometric survey of 10 ite...,43085.0,2014-04-04 05:35:59,Multiple Regression - Extreme F-statistic and ...,...,0.0,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,86981,2,NaN,2014-02-18 08:39:04,1,NaN,<p>I think that this is due to familywise erro...,38450.0,2014-02-18 09:04:57,NaN,...,NaN,1,NaN,805.0,2014-02-18 09:04:57,NaN,86889.0,NaN,NaN,NaN
3,38717,2,NaN,2012-10-05 09:49:08,2,NaN,"<p>There's a <a href=""http://www.ncbi.nlm.nih....",4598.0,2014-02-15 11:26:53,NaN,...,NaN,3,NaN,4598.0,2014-02-15 11:26:53,NaN,38541.0,NaN,NaN,NaN
4,113919,2,NaN,2014-09-01 01:41:05,3,NaN,"<p>For that data, the estimated regression equ...",805.0,2014-09-01 20:09:53,NaN,...,NaN,1,NaN,805.0,2014-09-01 20:09:53,NaN,113871.0,NaN,NaN,NaN

In [12]:
# info
.info()

SyntaxError: invalid syntax (<ipython-input-12-5bc492d709db>, line 2)

## Rename Id column to post_id and OwnerUserId to user_id.

Again, remember to check that your results are correctly stored inside the dataframe.

In [13]:
# Your code here
data_posts = data_posts.rename({'Id': 'post_id', 'OwnerUserId' : 'user_id' }, axis = 1)
data_posts.columns

Index(['post_id', 'PostTypeId', 'AcceptedAnswerId', 'CreaionDate', 'Score',
       'ViewCount', 'Body', 'user_id', 'LasActivityDate', 'Title', 'Tags',
       'AnswerCount', 'CommentCount', 'FavoriteCount', 'LastEditorUserId',
       'LastEditDate', 'CommunityOwnedDate', 'ParentId', 'ClosedDate',
       'OwnerDisplayName', 'LastEditorDisplayName'],
      dtype='object')

## Define new dataframes for users and posts with the following selected columns:
**users columns**: user_id, Reputation, Views, UpVotes, DownVotes  
**posts columns**: post_id, Score, user_id, ViewCount, CommentCount, Body

In [14]:
# Your code here
df_user = data_users[['user_id', 'Reputation', 'Views', 'UpVotes', 'DownVotes']]
df_post = data_posts[['post_id', 'Score', 'user_id', 'ViewCount', 'CommentCount', 'Body']]

## Merge the new dataframes you have created
- Create dataframe called `posts_from_users` merging users and posts.
- You will need to make an inner [merge](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.merge.html) of posts and users dataframes. 
- Think carefully which should be the key(s) for your merging.

In [15]:
# Your code here
posts_from_users = df_user.merge(df_post, on='user_id')
posts_from_users.info()
posts_from_users.head()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 8522 entries, 0 to 8521
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   user_id       8522 non-null   int64
 1   Reputation    8522 non-null   int64
 2   Views         8522 non-null   int64
 3   UpVotes       8522 non-null   int64
 4   DownVotes     8522 non-null   int64
 5   post_id       8522 non-null   int64
 6   Score         8522 non-null   int64
 7   ViewCount     4072 non-null   float64
 8   CommentCount  8522 non-null   int64
 9   Body          8507 non-null   object
dtypes: float64(1), int64(8), object(1)
memory usage: 732.4+ KB

,user_id,Reputation,Views,UpVotes,DownVotes,post_id,Score,ViewCount,CommentCount,Body
0,-1,1,0,5007,1920,10131,0,NaN,0,NaN
1,-1,1,0,5007,1920,16366,0,NaN,0,NaN
2,-1,1,0,5007,1920,40689,0,NaN,0,NaN
3,-1,1,0,5007,1920,28333,0,NaN,0,NaN
4,-1,1,0,5007,1920,32803,0,NaN,0,NaN

## Check the number of duplicated rows.

Remember you can sum the results of a mask to get how many numbers the True value appeared in the results. This occurs because `True` is interpreted as `1` in Python whereas `False` is interpreted as `0`.

In [16]:
# Your code here
posts_from_users.duplicated().sum()

351

## Find those duplicate values and try to understand what happened.

Hints:   
- You can use the argument `keep=False` from the `.duplicated()` method to bring the duplication.
- You can sort the values `by=['user_id', 'post_id']` to see them in order.

In [37]:
# Your code here
posts_from_users[posts_from_users.duplicated(keep=False)].sort_values(by=['user_id','post_id'])

,user_id,Reputation,Views,UpVotes,DownVotes,post_id,Score,ViewCount,CommentCount,Body
735,760,168,13,13,0,1289,7,1139.0,8,<p>I am having difficulties to select the righ...
739,760,168,13,13,0,1289,7,1139.0,8,<p>I am having difficulties to select the righ...
734,760,168,13,13,0,8625,6,1799.0,3,<p>I was fiddling with PCA and LDA methods and...
736,760,168,13,13,0,8625,6,1799.0,3,<p>I was fiddling with PCA and LDA methods and...
738,760,168,13,13,0,8625,6,1799.0,3,<p>I was fiddling with PCA and LDA methods and...
...,...,...,...,...,...,...,...,...,...,...
8475,54711,4,18,0,0,114527,0,45.0,5,<p>From Shapiro-Wilk's test I see that the res...
8477,54741,16,1,0,0,113334,3,122.0,9,<p>I am confused on what I have read about the...
8478,54741,16,1,0,0,113334,3,122.0,9,<p>I am confused on what I have read about the...
8486,54911,1,1,0,0,113691,0,36.0,11,<p>I extract data related to a movie by sentim...
8487,54911,1,1,0,0,113691,0,36.0,11,<p>I extract data related to a movie by sentim...

## Should you drop it? 
If you think it is reasonable to drop it, then drop it. Think how would you correct it in the first place? That is, what was wrong in the first place?  
*Hint: There's a pandas method to drop duplicates. If you wanted to do it by hand, you could select the indexes of the duplicated values and `.drop()` it.*

In [ ]:
# Your code here
duplicados =

## 10. How many missing values do you have in your merged dataframe? On which columns?

In [40]:
# Your code here
posts_from_users.isnull().sum()

user_id            0
Reputation         0
Views              0
UpVotes            0
DownVotes          0
post_id            0
Score              0
ViewCount       4450
CommentCount       0
Body              15
dtype: int64

## Select only the rows in which there at least some missing values.

In [ ]:
# Your code here

## You will need to make something with missing values.  Will you clean or filling them? 

Pay attention. There can be different reasons for the missings numbers. Look at the `user_id` of some of them, look at the body of the message. Which ones you're sure of what should be and which one can you infer? Don't hurry up, take a look at your data.

In [ ]:
# Your code here

## Reset the index

In [ ]:
# Your code here

## Adjust the data types in order to avoid future issues. Which ones should be changed?

In [ ]:
# Your code here

# Bonus (filtering) 
What is the average number of comments for users who are above the average reputation?  
*Hint: Calculate the average of the user Reputation. Store it in a variable called `avg_reputation` and then use that variable for filtering the dataset and generating the results for each case (for the case in which `Reputation > avg_reputation`*

In [ ]:
# Your code here