![Ironhack logo](https://i.imgur.com/1QgrNNw.png)

# Lab | Introduction to Pandas

## Introduction

In the Introduction to Pandas lesson, we learned about the two main data structures in Pandas (Series and DataFrames), how to work with them, how to obtain them from other data structures, and how to perform basic calculations with them.

The goal of this lab is to help you practice the concepts you learned in the lesson and provide you with some hands-on experience working with Pandas.

## Getting Started

Read the instructions for each cell and provide your answers. Make sure to test your answers in each cell and save. Jupyter Notebook should automatically save your work progress. But it's a good idea to periodically save your work manually just in case.

## Resources

- [Pandas Documentation](https://pandas.pydata.org/pandas-docs/stable/)
- [Intro to Pandas Data Structures](https://pandas.pydata.org/pandas-docs/stable/dsintro.html)
- [Descriptive Statistics for Pandas DataFrame](https://chrisalbon.com/python/data_wrangling/pandas_dataframe_descriptive_stats/)

# Introduction to Pandas

Complete the following set of exercises to solidify your knowledge of Pandas fundamentals.

#### 1. Import Numpy and Pandas and alias them to `np` and `pd` respectively.

In [1]:
# your code here
import numpy as np
import pandas as pd

#### 2. Create a Pandas Series containing the elements of the list below.

Expected output:

````python
            0     5.7
            1    75.2
            2    74.4
            3    84.0
            4    66.5
            5    66.3
            6    55.8
            7    75.7
            8    29.1
            9    43.7
            dtype: float64
    
````

In [2]:
lst = [5.7, 75.2, 74.4, 84.0, 66.5, 66.3, 55.8, 75.7, 29.1, 43.7]

In [3]:
# your code here
serie_lst = pd.Series(lst)
print(serie_lst)

0     5.7
1    75.2
2    74.4
3    84.0
4    66.5
5    66.3
6    55.8
7    75.7
8    29.1
9    43.7
dtype: float64

#### 3. Use indexing to return the third value in the Series above.

*Hint: Remember that indexing begins at 0.*

In [4]:
# your code here
serie_lst[2]

74.4

#### 4. Create a Pandas DataFrame from the list of lists below. Each sublist should be represented as a row.

Expected output:

|    |    0 |    1 |    2 |    3 |    4 |
|---:|-----:|-----:|-----:|-----:|-----:|
|  0 | 53.1 | 95   | 67.5 | 35   | 78.4 |
|  1 | 61.3 | 40.8 | 30.8 | 37.8 | 87.6 |
|  2 | 20.6 | 73.2 | 44.2 | 14.6 | 91.8 |
|  3 | 57.4 |  0.1 | 96.1 |  4.2 | 69.5 |
|  4 | 83.6 | 20.5 | 85.4 | 22.8 | 35.9 |
|  5 | 49   | 69   |  0.1 | 31.8 | 89.1 |
|  6 | 23.3 | 40.7 | 95   | 83.8 | 26.9 |
|  7 | 27.6 | 26.4 | 53.8 | 88.8 | 68.5 |
|  8 | 96.6 | 96.4 | 53.4 | 72.4 | 50.1 |
|  9 | 73.7 | 39   | 43.2 | 81.6 | 34.7 |

In [5]:
b = [[53.1, 95.0, 67.5, 35.0, 78.4],
     [61.3, 40.8, 30.8, 37.8, 87.6],
     [20.6, 73.2, 44.2, 14.6, 91.8],
     [57.4, 0.1, 96.1, 4.2, 69.5],
     [83.6, 20.5, 85.4, 22.8, 35.9],
     [49.0, 69.0, 0.1, 31.8, 89.1],
     [23.3, 40.7, 95.0, 83.8, 26.9],
     [27.6, 26.4, 53.8, 88.8, 68.5],
     [96.6, 96.4, 53.4, 72.4, 50.1],
     [73.7, 39.0, 43.2, 81.6, 34.7]]

In [6]:
# your code here
dataframe_b = pd.DataFrame(b)
print(dataframe_b)

      0     1     2     3     4
0  53.1  95.0  67.5  35.0  78.4
1  61.3  40.8  30.8  37.8  87.6
2  20.6  73.2  44.2  14.6  91.8
3  57.4   0.1  96.1   4.2  69.5
4  83.6  20.5  85.4  22.8  35.9
5  49.0  69.0   0.1  31.8  89.1
6  23.3  40.7  95.0  83.8  26.9
7  27.6  26.4  53.8  88.8  68.5
8  96.6  96.4  53.4  72.4  50.1
9  73.7  39.0  43.2  81.6  34.7

#### 5. Rename the data frame columns based on the names in the list below.

Expected output:

|    |   Score_1 |   Score_2 |   Score_3 |   Score_4 |   Score_5 |
|---:|----------:|----------:|----------:|----------:|----------:|
|  0 |      53.1 |      95   |      67.5 |      35   |      78.4 |
|  1 |      61.3 |      40.8 |      30.8 |      37.8 |      87.6 |
|  2 |      20.6 |      73.2 |      44.2 |      14.6 |      91.8 |
|  3 |      57.4 |       0.1 |      96.1 |       4.2 |      69.5 |
|  4 |      83.6 |      20.5 |      85.4 |      22.8 |      35.9 |
|  5 |      49   |      69   |       0.1 |      31.8 |      89.1 |
|  6 |      23.3 |      40.7 |      95   |      83.8 |      26.9 |
|  7 |      27.6 |      26.4 |      53.8 |      88.8 |      68.5 |
|  8 |      96.6 |      96.4 |      53.4 |      72.4 |      50.1 |
|  9 |      73.7 |      39   |      43.2 |      81.6 |      34.7 |

In [7]:
colnames = ['Score_1', 'Score_2', 'Score_3', 'Score_4', 'Score_5']

In [8]:
# your code here
dataframe_b.columns = colnames 
print(dataframe_b)

   Score_1  Score_2  Score_3  Score_4  Score_5
0     53.1     95.0     67.5     35.0     78.4
1     61.3     40.8     30.8     37.8     87.6
2     20.6     73.2     44.2     14.6     91.8
3     57.4      0.1     96.1      4.2     69.5
4     83.6     20.5     85.4     22.8     35.9
5     49.0     69.0      0.1     31.8     89.1
6     23.3     40.7     95.0     83.8     26.9
7     27.6     26.4     53.8     88.8     68.5
8     96.6     96.4     53.4     72.4     50.1
9     73.7     39.0     43.2     81.6     34.7

#### 6. Create a subset of this data frame that contains only the Score 1, 3, and 5 columns.

Expected output:

|    |   Score_1 |   Score_3 |   Score_5 |
|---:|----------:|----------:|----------:|
|  0 |      53.1 |      67.5 |      78.4 |
|  1 |      61.3 |      30.8 |      87.6 |
|  2 |      20.6 |      44.2 |      91.8 |
|  3 |      57.4 |      96.1 |      69.5 |
|  4 |      83.6 |      85.4 |      35.9 |
|  5 |      49   |       0.1 |      89.1 |
|  6 |      23.3 |      95   |      26.9 |
|  7 |      27.6 |      53.8 |      68.5 |
|  8 |      96.6 |      53.4 |      50.1 |
|  9 |      73.7 |      43.2 |      34.7 |

In [9]:
# your code here
dataframe_b.loc[:,['Score_1', 'Score_2', 'Score_5']]

   Score_1  Score_2  Score_5
0     53.1     95.0     78.4
1     61.3     40.8     87.6
2     20.6     73.2     91.8
3     57.4      0.1     69.5
4     83.6     20.5     35.9
5     49.0     69.0     89.1
6     23.3     40.7     26.9
7     27.6     26.4     68.5
8     96.6     96.4     50.1
9     73.7     39.0     34.7

#### 7. From the original data frame, calculate the average Score_3 value.

Expected output:

````python
            56.95
````

In [10]:
# your code here
round(dataframe_b['Score_3'].mean(),2)

56.95

#### 8. From the original data frame, calculate the maximum Score_4 value.

Expected output:

````python
            88.8
````

In [11]:
# your code here
dataframe_b['Score_4'].max()

88.8

#### 9. From the original data frame, calculate the median Score 2 value.

Expected output:

````python
            40.75
````

In [12]:
# your code here
dataframe_b['Score_2'].median()

40.75

#### 10. Create a Pandas DataFrame from the dictionary of product orders below.

Expected output:

|    | Description                       |   Quantity |   UnitPrice |   Revenue |
|---:|:----------------------------------|-----------:|------------:|----------:|
|  0 | LUNCH BAG APPLE DESIGN            |          1 |        1.65 |      1.65 |
|  1 | SET OF 60 VINTAGE LEAF CAKE CASES |         24 |        0.55 |     13.2  |
|  2 | RIBBON REEL STRIPES DESIGN        |          1 |        1.65 |      1.65 |
|  3 | WORLD WAR 2 GLIDERS ASSTD DESIGNS |       2880 |        0.18 |    518.4  |
|  4 | PLAYING CARDS JUBILEE UNION JACK  |          2 |        1.25 |      2.5  |
|  5 | POPCORN HOLDER                    |          7 |        0.85 |      5.95 |
|  6 | BOX OF VINTAGE ALPHABET BLOCKS    |          1 |       11.95 |     11.95 |
|  7 | PARTY BUNTING                     |          4 |        4.95 |     19.8  |
|  8 | JAZZ HEARTS ADDRESS BOOK          |         10 |        0.19 |      1.9  |
|  9 | SET OF 4 SANTA PLACE SETTINGS     |         48 |        1.25 |     60    |

In [13]:
orders = {'Description': ['LUNCH BAG APPLE DESIGN',
  'SET OF 60 VINTAGE LEAF CAKE CASES ',
  'RIBBON REEL STRIPES DESIGN ',
  'WORLD WAR 2 GLIDERS ASSTD DESIGNS',
  'PLAYING CARDS JUBILEE UNION JACK',
  'POPCORN HOLDER',
  'BOX OF VINTAGE ALPHABET BLOCKS',
  'PARTY BUNTING',
  'JAZZ HEARTS ADDRESS BOOK',
  'SET OF 4 SANTA PLACE SETTINGS'],
 'Quantity': [1, 24, 1, 2880, 2, 7, 1, 4, 10, 48],
 'UnitPrice': [1.65, 0.55, 1.65, 0.18, 1.25, 0.85, 11.95, 4.95, 0.19, 1.25],
 'Revenue': [1.65, 13.2, 1.65, 518.4, 2.5, 5.95, 11.95, 19.8, 1.9, 60.0]}

In [14]:
# your code here
dforders = pd.DataFrame(orders)
print(dforders)

                          Description  Quantity  UnitPrice  Revenue
0              LUNCH BAG APPLE DESIGN         1       1.65     1.65
1  SET OF 60 VINTAGE LEAF CAKE CASES         24       0.55    13.20
2         RIBBON REEL STRIPES DESIGN          1       1.65     1.65
3   WORLD WAR 2 GLIDERS ASSTD DESIGNS      2880       0.18   518.40
4    PLAYING CARDS JUBILEE UNION JACK         2       1.25     2.50
5                      POPCORN HOLDER         7       0.85     5.95
6      BOX OF VINTAGE ALPHABET BLOCKS         1      11.95    11.95
7                       PARTY BUNTING         4       4.95    19.80
8            JAZZ HEARTS ADDRESS BOOK        10       0.19     1.90
9       SET OF 4 SANTA PLACE SETTINGS        48       1.25    60.00

#### 11. Calculate the total quantity ordered and revenue generated from these orders.

Expected output:

````python
            Quantity    2978.0
            Revenue      637.0
````

In [15]:
# your code here
dforders[['Quantity','Revenue']].sum()

Quantity    2978.0
Revenue      637.0
dtype: float64

#### 12. Obtain the prices of the most expensive and least expensive items ordered and print the difference.
Expected output:

````python
            Most expensive:  11.95
            Least expensive:  0.18
            Difference:  11.77
````

In [16]:
# your code here
most_expencive = dforders.UnitPrice.max()
least_expencive = dforders.UnitPrice.min()
difference = most_expencive - least_expencive 
print(most_expencive)
print(least_expencive)
print(difference)

11.95
0.18
11.77

# BONUS

#### 1 Create a random dataframe containing 3 columns and 10 rows. 

*Hint: You'll have to use a `numpy.random` method to create random observations*

**Example of output:**

|    |         0 |        1 |        2 |
|---:|----------:|---------:|---------:|
|  0 | 0.0883504 | 0.867054 | 0.977949 |
|  1 | 0.819555  | 0.643927 | 0.122975 |
|  2 | 0.484618  | 0.515125 | 0.807791 |
|  3 | 0.539583  | 0.620799 | 0.926963 |
|  4 | 0.0479896 | 0.772282 | 0.621921 |
|  5 | 0.1398    | 0.767678 | 0.678816 |
|  6 | 0.0895157 | 0.242867 | 0.887941 |
|  7 | 0.160186  | 0.750576 | 0.439416 |
|  8 | 0.982747  | 0.652903 | 0.575518 |
|  9 | 0.646373  | 0.523237 | 0.700222 |

In [19]:
# your code here
df_random = pd.DataFrame(np.random.rand(10,3))
print(df_random)

          0         1         2
0  0.350552  0.547753  0.014768
1  0.572316  0.231431  0.897931
2  0.443962  0.640082  0.929427
3  0.045661  0.762507  0.975055
4  0.761736  0.325951  0.535109
5  0.968983  0.312198  0.656710
6  0.786198  0.502104  0.782928
7  0.539583  0.614410  0.998518
8  0.306175  0.003397  0.260654
9  0.638075  0.178977  0.973144

#### 2 Create a random dataframe containing 3 columns and 10 rows with specific column names. 

Use `['column1', 'column2', 'column3']` as the column names.

**Example of output:**

|    |   column1 |   column2 |   column3 |
|---:|----------:|----------:|----------:|
|  0 |        10 |        21 |        45 |
|  1 |        32 |        87 |        39 |
|  2 |        93 |        53 |         8 |
|  3 |        52 |        77 |        41 |
|  4 |        72 |        50 |        31 |
|  5 |        16 |         6 |        41 |
|  6 |        66 |        33 |        62 |
|  7 |        97 |        50 |        92 |
|  8 |        21 |        71 |        42 |
|  9 |        91 |        97 |        32 |

In [20]:
# your code here
df_random2 = pd.DataFrame(np.random.rand(10,3), columns = ['column1', 'column2', 'column3'])
print(df_random2)

    column1   column2   column3
0  0.465558  0.857874  0.257063
1  0.078341  0.755036  0.298009
2  0.370357  0.292820  0.110651
3  0.923780  0.694171  0.202346
4  0.869270  0.548418  0.572391
5  0.805670  0.832118  0.131897
6  0.414386  0.264463  0.449479
7  0.953917  0.325451  0.656071
8  0.484254  0.658973  0.926000
9  0.589327  0.301374  0.716056

#### 3 Create a random dataframe containing N columns and M rows with specific column names.

For this task you'll have to name the columns as `['column1', 'column2', 'column3', ...,'columnN']`. You can use a list comprehension to do that.

In [25]:
N = 10
M = 30
# your code here
df_random3 = pd.DataFrame(np.random.rand(M,N), columns = ['column'+str(n+1) for n in range(N)])
print(df_random3)

     column1   column2   column3   column4   column5   column6   column7  \
0   0.504267  0.650149  0.894670  0.706824  0.775445  0.298455  0.563525
1   0.293313  0.991688  0.275740  0.376124  0.686909  0.939661  0.458265
2   0.059036  0.536427  0.148372  0.681817  0.485659  0.329158  0.650425
3   0.280877  0.247804  0.774491  0.675036  0.606944  0.575424  0.621542
4   0.827907  0.994172  0.788019  0.641926  0.542713  0.843185  0.569466
5   0.731737  0.923037  0.544126  0.510274  0.020444  0.944779  0.939461
6   0.255797  0.997498  0.693508  0.563271  0.920830  0.959910  0.016387
7   0.440900  0.668928  0.058143  0.119334  0.607910  0.556492  0.364273
8   0.975424  0.565096  0.252242  0.440237  0.466592  0.409254  0.671809
9   0.357255  0.084452  0.862378  0.035481  0.318578  0.815066  0.529786
10  0.721713  0.882114  0.433124  0.966077  0.836974  0.355011  0.649048
11  0.922012  0.502057  0.895129  0.153913  0.773281  0.869612  0.147640
12  0.574226  0.638950  0.462735  0.295196  0.563554  0.432854  0.189944
13  0.659314  0.220075  0.563460  0.426546  0.130320  0.029476  0.217303
14  0.091055  0.612930  0.237195  0.357754  0.691202  0.166570  0.252517
15  0.843851  0.452738  0.298768  0.368946  0.501978  0.611381  0.504177
16  0.523071  0.504174  0.053904  0.043149  0.200406  0.987302  0.939712
17  0.013279  0.094893  0.953988  0.341134  0.497115  0.423025  0.330272
18  0.650363  0.429139  0.248271  0.278631  0.587510  0.857923  0.321655
19  0.986518  0.451568  0.065763  0.380625  0.564844  0.377088  0.698386
20  0.727599  0.221587  0.111453  0.397046  0.399194  0.248622  0.528996
21  0.788840  0.437831  0.306394  0.479749  0.316885  0.990357  0.036430
22  0.350029  0.099340  0.175676  0.214767  0.888399  0.766540  0.692281
23  0.900524  0.201462  0.571384  0.581966  0.938891  0.542636  0.158887
24  0.589897  0.799659  0.127954  0.761536  0.820043  0.041335  0.813106
25  0.526783  0.933013  0.369752  0.248339  0.958551  0.078005  0.355177
26  0.200595  0.496488  0.952920  0.987144  0.391481  0.766888  0.999508
27  0.201726  0.579935  0.407364  0.882009  0.408102  0.018225  0.844245
28  0.122051  0.085928  0.952731  0.860390  0.576192  0.369168  0.869201
29  0.344590  0.039618  0.561683  0.136171  0.191837  0.895725  0.858410

     column8   column9  column10
0   0.240473  0.802455  0.965628
1   0.640370  0.049157  0.828071
2   0.854550  0.406036  0.047812
3   0.403228  0.996139  0.721605
4   0.600645  0.679372  0.610838
5   0.077483  0.665798  0.627836
6   0.008273  0.736121  0.347892
7   0.743938  0.773379  0.765198
8   0.618261  0.716884  0.449051
9   0.827615  0.601893  0.567397
10  0.605355  0.292945  0.614045
11  0.637035  0.148769  0.816111
12  0.290295  0.421681  0.966541
13  0.525011  0.436801  0.529776
14  0.261210  0.034428  0.816749
15  0.382328  0.985885  0.888176
16  0.610955  0.555021  0.421017
17  0.225865  0.614047  0.813143
18  0.363187  0.166712  0.130990
19  0.137165  0.362594  0.959366
20  0.666979  0.638501  0.049682
21  0.086163  0.236701  0.990692
22  0.524021  0.393814  0.560941
23  0.408890  0.140111  0.017584
24  0.758770  0.971006  0.415852
25  0.355096  0.153025  0.409193
26  0.435921  0.974877  0.959661
27  0.787375  0.725748  0.023700
28  0.085897  0.084849  0.340639
29  0.855007  0.487956  0.502592