# LAB | Unsupervised learning

## Import libraries here

In [1]:
# Your code here
import pandas as pd
import numpy as np
!pip install yellowbrick
from yellowbrick.cluster import KElbowVisualizer

Requirement already satisfied: yellowbrick in c:\users\forqu\anaconda\lib\site-packages (1.4)
Requirement already satisfied: scikit-learn>=1.0.0 in c:\users\forqu\anaconda\lib\site-packages (from yellowbrick) (1.0.2)
Requirement already satisfied: scipy>=1.0.0 in c:\users\forqu\anaconda\lib\site-packages (from yellowbrick) (1.6.2)
Requirement already satisfied: cycler>=0.10.0 in c:\users\forqu\anaconda\lib\site-packages (from yellowbrick) (0.10.0)
Requirement already satisfied: numpy>=1.16.0 in c:\users\forqu\anaconda\lib\site-packages (from yellowbrick) (1.20.1)
Requirement already satisfied: matplotlib!=3.0.0,>=2.0.2 in c:\users\forqu\anaconda\lib\site-packages (from yellowbrick) (3.3.4)
Requirement already satisfied: six in c:\users\forqu\anaconda\lib\site-packages (from cycler>=0.10.0->yellowbrick) (1.15.0)
Requirement already satisfied: pillow>=6.2.0 in c:\users\forqu\anaconda\lib\site-packages (from matplotlib!=3.0.0,>=2.0.2->yellowbrick) (8.2.0)
Requirement already satisfied: kiwisolver>=1.0.1 in c:\users\forqu\anaconda\lib\site-packages (from matplotlib!=3.0.0,>=2.0.2->yellowbrick) (1.3.1)
Requirement already satisfied: python-dateutil>=2.1 in c:\users\forqu\anaconda\lib\site-packages (from matplotlib!=3.0.0,>=2.0.2->yellowbrick) (2.8.1)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.3 in c:\users\forqu\anaconda\lib\site-packages (from matplotlib!=3.0.0,>=2.0.2->yellowbrick) (2.4.7)
Requirement already satisfied: joblib>=0.11 in c:\users\forqu\anaconda\lib\site-packages (from scikit-learn>=1.0.0->yellowbrick) (1.0.1)
Requirement already satisfied: threadpoolctl>=2.0.0 in c:\users\forqu\anaconda\lib\site-packages (from scikit-learn>=1.0.0->yellowbrick) (2.1.0)

# Challenge 1
## Import the Dataset
- In this challenge, we will start off by working with the wine dataset in scikit-learn. We will select the wine dataset and use a clustering algorithm to learn more about the functionalities of this library. 
- We start off by loading the dataset using the `load_wine` function ([documentation](https://scikit-learn.org/stable/modules/generated/sklearn.datasets.load_wine.html)). In the cell below, we will import the function from scikit-learn.
- Run the code below:
```python
# import the dataset
from sklearn.datasets import load_wine
wine = load_wine()
# Dataset info
print(wine['DESCR'])
# Creating a dataframe
wine_df = pd.DataFrame(wine['data'],columns=wine['feature_names'])
```

In [2]:
# Your code here
# import the dataset
from sklearn.datasets import load_wine
wine = load_wine()
# Dataset info
print(wine['DESCR'])
# Creating a dataframe
wine_df = pd.DataFrame(wine['data'],columns=wine['feature_names'])

.. _wine_dataset:

Wine recognition dataset
------------------------

**Data Set Characteristics:**

    :Number of Instances: 178 (50 in each of three classes)
    :Number of Attributes: 13 numeric, predictive attributes and the class
    :Attribute Information:
 		- Alcohol
 		- Malic acid
 		- Ash
		- Alcalinity of ash
 		- Magnesium
		- Total phenols
 		- Flavanoids
 		- Nonflavanoid phenols
 		- Proanthocyanins
		- Color intensity
 		- Hue
 		- OD280/OD315 of diluted wines
 		- Proline

    - class:
            - class_0
            - class_1
            - class_2

    :Summary Statistics:

    ============================= ==== ===== ======= =====
                                   Min   Max   Mean     SD
    ============================= ==== ===== ======= =====
    Alcohol:                      11.0  14.8    13.0   0.8
    Malic Acid:                   0.74  5.80    2.34  1.12
    Ash:                          1.36  3.23    2.36  0.27
    Alcalinity of Ash:            10.6  30.0    19.5   3.3
    Magnesium:                    70.0 162.0    99.7  14.3
    Total Phenols:                0.98  3.88    2.29  0.63
    Flavanoids:                   0.34  5.08    2.03  1.00
    Nonflavanoid Phenols:         0.13  0.66    0.36  0.12
    Proanthocyanins:              0.41  3.58    1.59  0.57
    Colour Intensity:              1.3  13.0     5.1   2.3
    Hue:                          0.48  1.71    0.96  0.23
    OD280/OD315 of diluted wines: 1.27  4.00    2.61  0.71
    Proline:                       278  1680     746   315
    ============================= ==== ===== ======= =====

    :Missing Attribute Values: None
    :Class Distribution: class_0 (59), class_1 (71), class_2 (48)
    :Creator: R.A. Fisher
    :Donor: Michael Marshall (MARSHALL%PLU@io.arc.nasa.gov)
    :Date: July, 1988

This is a copy of UCI ML Wine recognition datasets.
https://archive.ics.uci.edu/ml/machine-learning-databases/wine/wine.data

The data is the results of a chemical analysis of wines grown in the same
region in Italy by three different cultivators. There are thirteen different
measurements taken for different constituents found in the three types of
wine.

Original Owners:

Forina, M. et al, PARVUS -
An Extendible Package for Data Exploration, Classification and Correlation.
Institute of Pharmaceutical and Food Analysis and Technologies,
Via Brigata Salerno, 16147 Genoa, Italy.

Citation:

Lichman, M. (2013). UCI Machine Learning Repository
[https://archive.ics.uci.edu/ml]. Irvine, CA: University of California,
School of Information and Computer Science.

.. topic:: References

  (1) S. Aeberhard, D. Coomans and O. de Vel,
  Comparison of Classifiers in High Dimensional Settings,
  Tech. Rep. no. 92-02, (1992), Dept. of Computer Science and Dept. of
  Mathematics and Statistics, James Cook University of North Queensland.
  (Also submitted to Technometrics).

  The data was used with many others for comparing various
  classifiers. The classes are separable, though only RDA
  has achieved 100% correct classification.
  (RDA : 100%, QDA 99.4%, LDA 98.9%, 1NN 96.1% (z-transformed data))
  (All results using the leave-one-out technique)

  (2) S. Aeberhard, D. Coomans and O. de Vel,
  "THE CLASSIFICATION PERFORMANCE OF RDA"
  Tech. Rep. no. 92-01, (1992), Dept. of Computer Science and Dept. of
  Mathematics and Statistics, James Cook University of North Queensland.
  (Also submitted to Journal of Chemometrics).

## Clustering the Dataset
- In this portion of the lab, we will cluster the data to find common traits between the different wines. 
- We will use the Kmeans clustering algorithm and StandardScaler to achieve this goal.

### Standardize
- Standardize `wine_df` and save in a variable called `wine_stand_arr`
- You will need to use `StandardScaler` to standardize the features 
```python
from sklearn.preprocessing import StandardScaler
```

In [11]:
# Your code here
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler().fit(wine_df)
wine_stand_arr = pd.DataFrame(scaler.transform(wine_df), columns = wine_df.columns)

### Create K-Means clustering
- Import the `KMeans` from scikit-learn and then proceed to create 4 clusters.
- Use the dataset that you standardized
```python
from sklearn.cluster import KMeans
```

In [12]:
# Your code here
from sklearn.cluster import KMeans
cluster_wine = KMeans(4).fit(wine_stand_arr)

- Print the cluster labels using `.labels_`

In [29]:
# Your code here
cluster_wine.labels_

array([1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 0, 3, 2, 2, 0, 0,
       2, 2, 0, 2, 0, 0, 0, 1, 2, 2, 2, 0, 2, 0, 2, 2, 0, 3, 0, 2, 0, 0,
       0, 0, 0, 0, 0, 2, 2, 1, 0, 2, 2, 2, 2, 2, 0, 2, 2, 0, 2, 0, 2, 0,
       2, 2, 0, 0, 0, 0, 2, 0, 3, 2, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 3, 3,
       3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3,
       3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3,
       3, 3])

- Compute the size of each cluster. 
- This can be done by counting the number of occurrences of each unique label.
- Which is the largest cluster of the 4?

In [32]:
# Your code here
np.unique(cluster_wine.labels_, return_counts=True)

(array([0, 1, 2, 3]), array([39, 59, 29, 51], dtype=int64))

- Store the labels as a new column in your `wine_df` dataframe

In [ ]:
# Your code here
wine_df['cluster'] = cluster_wine.labels_
wine_df['cluster'] = wine_df['cluster'].astype(str)

- Group the dataset by cluster you will be able to see the differences between the clusters

In [34]:
# Your code here
wine_df.groupby('cluster').mean()

,alcohol,malic_acid,ash,alcalinity_of_ash,magnesium,total_phenols,flavanoids,nonflavanoid_phenols,proanthocyanins,color_intensity,hue,od280/od315_of_diluted_wines,proline
cluster,,,,,,,,,,,,,
0,12.213077,2.070256,2.463077,21.851282,93.871795,2.185641,2.096667,0.416410,1.574615,2.966410,1.030667,2.775641,512.871795
1,13.733559,2.004576,2.446780,17.181356,107.677966,2.853220,2.979661,0.286271,1.932373,5.505763,1.064746,3.161864,1116.932203
2,12.333793,1.661724,1.983448,17.962069,93.379310,2.381724,2.133793,0.283793,1.700690,3.132414,1.107586,2.881034,533.586207
3,13.134118,3.307255,2.417647,21.241176,98.666667,1.683922,0.818824,0.451961,1.145882,7.234706,0.691961,1.696667,619.058824

# Challenge 2
## Import the Dataset
- In this challenge we will work with the patient dataset
- Read the `patient-admission.csv` dataset and store in a variable called patients

In [ ]:
# Your code here

- Transform the `patient_dob` and `appointment_date` columns to datetime using the `pd.to_datetime` function.

In [ ]:
# Your code here

- Next, drop the `id`, `patient_name`, `patient_email`, `patient_nhs_number`, and `doctor_phone` columns. These are not quantitative columns and will not contribute to our analysis.

In [ ]:
# Your code here

### Missing data
- Now we work on the missing data. Most ML algorithms will not perform as intended if there is missing data.
- Count how many rows contain missing data in each column. 
- You should see three columns contain missing data:
>- `doctor_name`: 58 missing data
>- `prescribed_medicines`: 488 missing data
>- `diagnosis`: 488 missing data

In [ ]:
# Your code here

- The main issues are found in the `prescribed_medicines` and `diagnosis` columns. Can we simply drop these rows?
- The answer is not yet. Because when there is missing data in these columns, it doesn't mean the data records are broken. Instead, it means no medication was prescribed and no diagnosis was recorded. Therefore, once we fill in the missing data these columns will be fine. But we'll revisit these columns and decide whether we will eventually drop them when we look at how many unique values are there in these categorical columns.  
- For the `prescribed_medicines` column, fill the missing values with the value `'no prescription'`. 
- For the `diagnosis` column, fill the missing values with `'no diagnosis'`.

In [ ]:
# Your code here

- How about `doctor_name`? 
- Since a doctor visit without a doctor name might not be meaningful, we will drop these rows.

In [ ]:
# Your code here

### Label encoding
- Another step in preprocessing is the label encoding. 
- We have 4 columns that are of `bool` type that we would like to convert them to an integer column containing either zero or one. 
- We can do this using [scikit-learn's label encoder](https://scikit-learn.org/stable/modules/generated/sklearn.preprocessing.LabelEncoder.html).
- In the cell below, import the label encoder and encode the 4 boolean columns `patient_diabetic`, `patient_allergic`, `patient_show`, `is_regular_visit` with `0` and `1`

```python
from sklearn.preprocessing import LabelEncoder
```

In [ ]:
# Your code here

- Print the data dtypes to confirm those four `bool` columns are converted to `int64`

In [ ]:
# Your code here

#### Object data
- The last step is to handle the `object` data.
- There are 4 `object` columns now: `patient_gender`, `doctor_name`, `prescribed_medicines`, and `diagnosis`. 
- In the next cell, check the unique values of each of the `object` columns using `value_counts()`.

In [ ]:
# Your code here

- The number of unique values is large for all three columns except `patient_gender`. 
- We will handle these columns differently:


- For `diagnosis`, there are too many unique values which will make ML difficult. However, we can re-encode the values to either with or without diagnosis. Remember at an earlier step we filled in the missing values of this column with *no diagnosis*? We can re-encode *no diagnosis* to `0` and all other values to `1`. In this way we can tremendously simplify this column.


- For `prescribed_medicines`, we can drop this column because it is perfectly correlated with `diagnosis`. Whenever there is no diagnosis, there is no prescribed medicine. So we don't need to keep this duplicated data.


- How about `doctor_name`? There are not excessive unique values but still quite many (19). We may either drop or keep it but keeping it will make the analysis more complicated. So due to the length of this lab let's drop it.

- How about `gender`? This one is easy. Just like re-encoding the boolean values, we can re-encode gender to `0` and `1` because there are only 2 unique values.

In the next cells, do the following:

1. Create a new column called `diagnosis_int` that has `0` and `1` based on the values in `diagnosis`.

1. Create a new column called `patient_gender_int` that has `0` and `1` based on the values in `patient_gender`.

1. Drop the following columns: `doctor_name`, `diagnosis`, `prescribed_medicines`, `patient_gender`,`patient_dob`, and `appointment_date`.

In [ ]:
# Your code here

- Let's look at the head again to ensure the re-encoding and dropping are successful:

In [ ]:
# Your code here

### Standardize
- Now it is time to normalize the data, use the `StandardScaler` function to do it.
- Save in a variable called `patients_stand`

In [ ]:
# Your code here

### Clustering
- Our data is now ready for clustering. Let's use k-means again
- Use `n_clusters = 4` 
- We start by initializing and fitting a model in the cell below
- Call this model `patients_cluster`

In [ ]:
# Your code here

- Attach the labels to the dataframe. 
- Do this by accessing the `labels_` in the `patients_cluster` model and assign them to a new column in `patients` that you will call `labels`.
- Group the dataset by cluster you will be able to see the differences between the clusters

In [ ]:
# Your code here

## Bonus visualization
### Visualize K-Means Clusters

- How did k-means cluster the data? You can obtain an intuitive view with a scatter plot. 
- Generate a 2-d cluster plot below using `matplotlib`. 
- You need to apply the PCA to be able to visualize your results effectively. 
- Color the results by the labels of your k-means.

### PCA - 2 dimensions
- Apply PCA with 2 components in the patients_stand
```python
from sklearn.decomposition import PCA
```

In [ ]:
# Your code here

### Plot PCA
- Use scatterplot to visualize your data
- Use component 1 and component 2 from the results of PCA

In [ ]:
# Your code here

### PCA - 3 dimensions
- Apply PCA with 3 components

In [ ]:
# Your code here

### Plot PCA 3D
- Additionally, you can visualize the clusters in 3-D scatter plot.
- Use the code below
```python
from mpl_toolkits.mplot3d import Axes3D
fig = plt.figure(figsize=(10,10))
ax = fig.add_subplot(111, projection='3d')
ax.scatter(pc1,pc2,pc3, depthshade=True, c = patients['Cluster'], alpha=1)
plt.show()
```

In [ ]:
# Your code here