# Data Structures

In this LAB we will practice Tuples, Sets and Dictionary.  
If you need you can find an extra tutorial on the links below:
* Tuples [Python Tuples Examples and Methods ](https://www.w3schools.com/python/python_tuples.asp)
* Dictionaries [Python Dictionary Examples and Methods](https://www.w3schools.com/python/python_dictionaries.asp)
* Sets [Python Sets Examples and Methods](https://www.w3schools.com/python/python_sets.asp)

-----------------------------------

## Tuples

#### Do you know you can create tuples with only one element?

**In the cell below, define a variable `tup` with a single element `"I"`.**

*Hint: you need to add a comma (`,`) after the single element.*

In [1]:
# Your code here
tup = tuple('I')
print(tup)

('I',)

#### Print the type of `tup`. 

Make sure its type is correct (i.e. *tuple* instead of *str*).

In [2]:
# Your code here
print(type(tup))

<class 'tuple'>

#### Now try to append the following elements to `tup`. 

Are you able to do it? Explain.

```
"r", "o", "n", "h", "a", "c", "k',
```

In [3]:
# Your code here
tup.append("r", "o", "n", "h", "a", "c", "k",) # is not possible the tulep is inmutable

AttributeError: 'tuple' object has no attribute 'append'

#### How about re-assign a new value to an existing tuple?

Re-assign the following elements to `tup`. Are you able to do it? Explain.

```
"I", "r", "o", "n", "h", "a", "c", "k"
```

In [4]:
# Your code here
tup = ("I", "r", "o", "n", "h", "a", "c", "k")
print(tup)
print(type(tup))

('I', 'r', 'o', 'n', 'h', 'a', 'c', 'k')
<class 'tuple'>

#### Split `tup` into `tup1` and `tup2` with 4 elements in each. 

`tup1` should be `("I", "r", "o", "n")` and `tup2` should be `("h", "a", "c", "k")`.

*Hint: use positive index numbers for `tup1` assignment and use negative index numbers for `tup2` assignment. Positive index numbers count from the beginning whereas negative index numbers count from the end of the sequence.*

Also print `tup1` and `tup2`.

In [5]:
# Your code here
tup1 = []
tup2 = []
for i in range(len(tup)) :
    if i < len(tup)/2 :
        tup1.append(tup[i])
    else :
        tup2.append(tup[i])
print(tuple(tup1))
print(tuple(tup2))

('I', 'r', 'o', 'n')
('h', 'a', 'c', 'k')

#### Add `tup1` and `tup2` into `tup3` using the `+` operator.

Then print `tup3` and check if `tup3` equals to `tup`.

In [6]:
# Your code here
tup3 = tup1+tup2
print(tup3)
tup == tup3
print(type(tup3))

['I', 'r', 'o', 'n', 'h', 'a', 'c', 'k']
<class 'list'>

#### Count the number of elements in `tup1` and `tup2`. Then add the two counts together and check if the sum is the same as the number of elements in `tup3`

In [7]:
# Your code here
print(len(tup1))
print(len(tup2))
len(tup1)+len(tup2)== len(tup3)

4
4

True

#### What is the index number of `"h"` in `tup3`?

In [8]:
# Your code here
tup3[4]

'h'

-----------------------------------

## Dictionaries

#### Now let's practice the dictionaries!  
We have this dictionary with itens to shopping in grocery.

In [9]:
grocery = {'bread':3, 'rice':2, 'cereals':4, 'eggs':12}

#### What are the `keys` of our grocery dictionary

In [10]:
#your code here
grocery.keys()

dict_keys(['bread', 'rice', 'cereals', 'eggs'])

#### What are the `values` of our grocery dictionary

In [11]:
#your code here
grocery.values()

dict_values([3, 2, 4, 12])

#### Get the value from the key `bread`

In [12]:
#your code here
grocery['bread']

3

#### Now try to create a `new dictionary` based on the table below. The names are the keys and the phone number are the values.

| Name (keys) | Phone Number (values) |
| --- | --- | 
| Valentina | 803-5114  |
| Tyler | 805-5120  |
| Camila | 805-1278 |
| James | 805-3450 |

In [13]:
#your code here
new_dic = {'Valentina':'803-5114','Tyler':'805-5120','Camila':'805-1278','James':'805-3450'}
print(new_dic)

{'Valentina': '803-5114', 'Tyler': '805-5120', 'Camila': '805-1278', 'James': '805-3450'}

#### `Add this new person` to your phone dictionary:   
Manoel | 803-8080

In [14]:
#your code here
new_dic['Manoel']='803-8080'
print(new_dic)

{'Valentina': '803-5114', 'Tyler': '805-5120', 'Camila': '805-1278', 'James': '805-3450', 'Manoel': '803-8080'}

#### Create a `list` with the phone numbers

In [15]:
#your code here
phone_number = []
for value in new_dic:
    phone_number.append(new_dic[value])
print(phone_number)

['803-5114', '805-5120', '805-1278', '805-3450', '803-8080']

###  Bonus dictionary

First thing you will practice is how to sort the keys in a dictionary. Unlike the list object, Python dictionary does not have a built-in sort method. You'll need to use FOR loops to to sort dictionaries either by key or by value.

The dictionary below is a summary of the word frequency of Ed Sheeran's song Shape of You. Each key is a word in the lyrics and the value is the number of times that word appears in the lyrics.

In [16]:
word_freq = {'love': 25, 'conversation': 1, 'every': 6, "we're": 1, 'plate': 1, 'sour': 1, 'jukebox': 1, 'now': 11, 'taxi': 1, 'fast': 1, 'bag': 1, 'man': 1, 'push': 3, 'baby': 14, 'going': 1, 'you': 16, "don't": 2, 'one': 1, 'mind': 2, 'backseat': 1, 'friends': 1, 'then': 3, 'know': 2, 'take': 1, 'play': 1, 'okay': 1, 'so': 2, 'begin': 1, 'start': 2, 'over': 1, 'body': 17, 'boy': 2, 'just': 1, 'we': 7, 'are': 1, 'girl': 2, 'tell': 1, 'singing': 2, 'drinking': 1, 'put': 3, 'our': 1, 'where': 1, "i'll": 1, 'all': 1, "isn't": 1, 'make': 1, 'lover': 1, 'get': 1, 'radio': 1, 'give': 1, "i'm": 23, 'like': 10, 'can': 1, 'doing': 2, 'with': 22, 'club': 1, 'come': 37, 'it': 1, 'somebody': 2, 'handmade': 2, 'out': 1, 'new': 6, 'room': 3, 'chance': 1, 'follow': 6, 'in': 27, 'may': 2, 'brand': 6, 'that': 2, 'magnet': 3, 'up': 3, 'first': 1, 'and': 23, 'pull': 3, 'of': 6, 'table': 1, 'much': 2, 'last': 3, 'i': 6, 'thrifty': 1, 'grab': 2, 'was': 2, 'driver': 1, 'slow': 1, 'dance': 1, 'the': 18, 'say': 2, 'trust': 1, 'family': 1, 'week': 1, 'date': 1, 'me': 10, 'do': 3, 'waist': 2, 'smell': 3, 'day': 6, 'although': 3, 'your': 21, 'leave': 1, 'want': 2, "let's": 2, 'lead': 6, 'at': 1, 'hand': 1, 'how': 1, 'talk': 4, 'not': 2, 'eat': 1, 'falling': 3, 'about': 1, 'story': 1, 'sweet': 1, 'best': 1, 'crazy': 2, 'let': 1, 'too': 5, 'van': 1, 'shots': 1, 'go': 2, 'to': 2, 'a': 8, 'my': 33, 'is': 5, 'place': 1, 'find': 1, 'shape': 6, 'on': 40, 'kiss': 1, 'were': 3, 'night': 3, 'heart': 3, 'for': 3, 'discovering': 6, 'something': 6, 'be': 16, 'bedsheets': 3, 'fill': 2, 'hours': 2, 'stop': 1, 'bar': 1}

There are several ways to achieve that goal but many of the ways are beyond what we have covered so far in the course. There is one way that we'll describe employing what you have learned. Please feel free to use this way or any other way you want.

1. First extract the keys of `word_freq` and convert it to a list called `keys`.

1. Sort the `keys` list.

1. Create an empty dictionary `word_freq2`.

1. Use a FOR loop to iterate each value in `keys`. For each key iterated, find the corresponding value in `word_freq` and insert the key-value pair to `word_freq2`.

Print out `word_freq2` to examine its keys and values. Your output should be:

```python
{'a': 8, 'about': 1, 'all': 1, 'although': 3, 'and': 23, 'are': 1, 'at': 1, 'baby': 14, 'backseat': 1, 'bag': 1, 'bar': 1, 'be': 16, 'bedsheets': 3, 'begin': 1, 'best': 1, 'body': 17, 'boy': 2, 'brand': 6, 'can': 1, 'chance': 1, 'club': 1, 'come': 37, 'conversation': 1, 'crazy': 2, 'dance': 1, 'date': 1, 'day': 6, 'discovering': 6, 'do': 3, 'doing': 2, "don't": 2, 'drinking': 1, 'driver': 1, 'eat': 1, 'every': 6, 'falling': 3, 'family': 1, 'fast': 1, 'fill': 2, 'find': 1, 'first': 1, 'follow': 6, 'for': 3, 'friends': 1, 'get': 1, 'girl': 2, 'give': 1, 'go': 2, 'going': 1, 'grab': 2, 'hand': 1, 'handmade': 2, 'heart': 3, 'hours': 2, 'how': 1, 'i': 6, "i'll": 1, "i'm": 23, 'in': 27, 'is': 5, "isn't": 1, 'it': 1, 'jukebox': 1, 'just': 1, 'kiss': 1, 'know': 2, 'last': 3, 'lead': 6, 'leave': 1, 'let': 1, "let's": 2, 'like': 10, 'love': 25, 'lover': 1, 'magnet': 3, 'make': 1, 'man': 1, 'may': 2, 'me': 10, 'mind': 2, 'much': 2, 'my': 33, 'new': 6, 'night': 3, 'not': 2, 'now': 11, 'of': 6, 'okay': 1, 'on': 40, 'one': 1, 'our': 1, 'out': 1, 'over': 1, 'place': 1, 'plate': 1, 'play': 1, 'pull': 3, 'push': 3, 'put': 3, 'radio': 1, 'room': 3, 'say': 2, 'shape': 6, 'shots': 1, 'singing': 2, 'slow': 1, 'smell': 3, 'so': 2, 'somebody': 2, 'something': 6, 'sour': 1, 'start': 2, 'stop': 1, 'story': 1, 'sweet': 1, 'table': 1, 'take': 1, 'talk': 4, 'taxi': 1, 'tell': 1, 'that': 2, 'the': 18, 'then': 3, 'thrifty': 1, 'to': 2, 'too': 5, 'trust': 1, 'up': 3, 'van': 1, 'waist': 2, 'want': 2, 'was': 2, 'we': 7, "we're": 1, 'week': 1, 'were': 3, 'where': 1, 'with': 22, 'you': 16, 'your': 21}
```

In [17]:
#your code here
keys = []
for key in word_freq :
    keys.append(key)
keys.sort()
word_freq2 = {}
for value in keys :
    word_freq2[value] = word_freq[value]
print(word_freq2)

{'a': 8, 'about': 1, 'all': 1, 'although': 3, 'and': 23, 'are': 1, 'at': 1, 'baby': 14, 'backseat': 1, 'bag': 1, 'bar': 1, 'be': 16, 'bedsheets': 3, 'begin': 1, 'best': 1, 'body': 17, 'boy': 2, 'brand': 6, 'can': 1, 'chance': 1, 'club': 1, 'come': 37, 'conversation': 1, 'crazy': 2, 'dance': 1, 'date': 1, 'day': 6, 'discovering': 6, 'do': 3, 'doing': 2, "don't": 2, 'drinking': 1, 'driver': 1, 'eat': 1, 'every': 6, 'falling': 3, 'family': 1, 'fast': 1, 'fill': 2, 'find': 1, 'first': 1, 'follow': 6, 'for': 3, 'friends': 1, 'get': 1, 'girl': 2, 'give': 1, 'go': 2, 'going': 1, 'grab': 2, 'hand': 1, 'handmade': 2, 'heart': 3, 'hours': 2, 'how': 1, 'i': 6, "i'll": 1, "i'm": 23, 'in': 27, 'is': 5, "isn't": 1, 'it': 1, 'jukebox': 1, 'just': 1, 'kiss': 1, 'know': 2, 'last': 3, 'lead': 6, 'leave': 1, 'let': 1, "let's": 2, 'like': 10, 'love': 25, 'lover': 1, 'magnet': 3, 'make': 1, 'man': 1, 'may': 2, 'me': 10, 'mind': 2, 'much': 2, 'my': 33, 'new': 6, 'night': 3, 'not': 2, 'now': 11, 'of': 6, 'okay': 1, 'on': 40, 'one': 1, 'our': 1, 'out': 1, 'over': 1, 'place': 1, 'plate': 1, 'play': 1, 'pull': 3, 'push': 3, 'put': 3, 'radio': 1, 'room': 3, 'say': 2, 'shape': 6, 'shots': 1, 'singing': 2, 'slow': 1, 'smell': 3, 'so': 2, 'somebody': 2, 'something': 6, 'sour': 1, 'start': 2, 'stop': 1, 'story': 1, 'sweet': 1, 'table': 1, 'take': 1, 'talk': 4, 'taxi': 1, 'tell': 1, 'that': 2, 'the': 18, 'then': 3, 'thrifty': 1, 'to': 2, 'too': 5, 'trust': 1, 'up': 3, 'van': 1, 'waist': 2, 'want': 2, 'was': 2, 'we': 7, "we're": 1, 'week': 1, 'were': 3, 'where': 1, 'with': 22, 'you': 16, 'your': 21}

-----------------------------------

## Sets

#### First, import the Python `random` library.

In [18]:
import random

#### In the cell below, create a list named `sample_list_1` with 80 random values. 

Requirements:

* Each value is an integer falling between 0 and 100.
* Each value in the list is unique.

Print `sample_list_1` to review its values

*Hint: use `random.sample` ([reference](https://docs.python.org/3/library/random.html#random.sample)).*

In [19]:
#Your code here
sample_list_1 = random.sample(range(100), k =80)
print(sample_list_1)

[99, 44, 51, 40, 46, 63, 89, 45, 85, 67, 10, 81, 41, 80, 8, 61, 60, 0, 28, 57, 30, 54, 37, 73, 77, 39, 78, 88, 76, 69, 22, 1, 14, 7, 42, 82, 2, 4, 90, 64, 35, 48, 20, 49, 21, 31, 68, 25, 50, 18, 66, 87, 83, 86, 74, 5, 59, 62, 95, 91, 11, 72, 6, 43, 23, 26, 3, 56, 29, 9, 16, 94, 96, 98, 13, 53, 32, 27, 97, 17]

#### Convert `sample_list_1` to a set called `set1`. Print the length of the set. Is its length still 80?

In [20]:
#Your code here
set1 = set(sample_list_1)
print(len(set1))

80

#### Create another list named `sample_list_2` with 80 random values.

Requirements:

* Each value is an integer falling between 0 and 100.
* The values in the list don't have to be unique.

*Hint: Use a FOR loop.*

In [21]:
#Your code here
sample_list_2 = list()
for i in range(80):
    sample_list_2.append(random.sample(range(100), k=1)[0])
print(sample_list_2)
print(len(sample_list_2))

[27, 31, 48, 44, 2, 46, 36, 70, 43, 2, 36, 80, 51, 56, 84, 93, 25, 54, 71, 75, 7, 35, 47, 51, 2, 72, 22, 99, 97, 17, 17, 56, 61, 89, 75, 74, 49, 49, 54, 61, 37, 55, 55, 47, 12, 67, 43, 96, 79, 32, 44, 92, 63, 84, 12, 82, 31, 88, 61, 48, 80, 52, 43, 80, 94, 30, 20, 37, 5, 18, 50, 49, 95, 41, 55, 8, 95, 56, 38, 47]
80

#### Convert `sample_list_2` to a set called `set2`. Print the length of the set. Is its length still 80?

In [22]:
#Your code here
set2 = set(sample_list_2)
print(len(set2))

52

#### Identify the elements present in `set1` but not in `set2`. Assign the elements to a new set named `set3`.

In [23]:
#Your code here
set3=set1.difference(set2)
print(set3)

{0, 1, 3, 4, 6, 9, 10, 11, 13, 14, 16, 21, 23, 26, 28, 29, 39, 40, 42, 45, 53, 57, 59, 60, 62, 64, 66, 68, 69, 73, 76, 77, 78, 81, 83, 85, 86, 87, 90, 91, 98}

#### Identify the elements present in `set2` but not in `set1`. Assign the elements to a new set named `set4`.

In [24]:
#Your code here
set4 = set2.difference(set1)
print(set4)

{36, 38, 70, 71, 75, 12, 47, 79, 52, 84, 55, 92, 93}

#### Now Identify the elements shared between `set1` and `set2`. Assign the elements to a new set named `set5`.

In [25]:
#Your code here
set5 = set1.intersection(set2)
print(set5)

{2, 5, 7, 8, 17, 18, 20, 22, 25, 27, 30, 31, 32, 35, 37, 41, 43, 44, 46, 48, 49, 50, 51, 54, 56, 61, 63, 67, 72, 74, 80, 82, 88, 89, 94, 95, 96, 97, 99}

#### What is the relationship among the following values:

* len(set1)
* len(set2)
* len(set3)
* len(set4)
* len(set5)

Use a math formula to represent that relationship. Test your formular with Python code.

In [27]:
#Your code here
print(len(set1) == len(set3) + len(set5))
print(len(set2) == len(set4) + len(set5))

True
True

#### Create an empty set called `set6`.

In [26]:
#Your code here
set6 = set()

#### Add `set3` and `set5` to `set6` using the Python Set `update` method.

In [28]:
#Your code here
set6.update(set3,set5)
print(set6)

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 13, 14, 16, 17, 18, 20, 21, 22, 23, 25, 26, 27, 28, 29, 30, 31, 32, 35, 37, 39, 40, 41, 42, 43, 44, 45, 46, 48, 49, 50, 51, 53, 54, 56, 57, 59, 60, 61, 62, 63, 64, 66, 67, 68, 69, 72, 73, 74, 76, 77, 78, 80, 81, 82, 83, 85, 86, 87, 88, 89, 90, 91, 94, 95, 96, 97, 98, 99}

#### Check if `set1` and `set6` are equal.

In [29]:
#Your code here
set1 == set6

True

#### Check if `set1` contains `set2` using the Python Set `issubset` method. Then check if `set1` contains `set3`.

In [30]:
#Your code here
set2.issubset(set1)

False

In [31]:
set3.issubset(set1)

True

#### Using the Python Set `union` method, aggregate `set3`, `set4`, and `set5`. Then aggregate `set1` and `set2`. 

#### Check if the aggregated values are equal.

In [32]:
#Your code here
set7=set3.union(set4,set5)
print(set7)
set8 = set7.union(set1,set2)
print(set8)
set7==set8

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 16, 17, 18, 20, 21, 22, 23, 25, 26, 27, 28, 29, 30, 31, 32, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 59, 60, 61, 62, 63, 64, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99}
{0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 16, 17, 18, 20, 21, 22, 23, 25, 26, 27, 28, 29, 30, 31, 32, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 59, 60, 61, 62, 63, 64, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99}

True

#### Using the `pop` method, remove the first element from `set1`.

In [33]:
#Your code here
print(set1)
print(set1.pop())

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 13, 14, 16, 17, 18, 20, 21, 22, 23, 25, 26, 27, 28, 29, 30, 31, 32, 35, 37, 39, 40, 41, 42, 43, 44, 45, 46, 48, 49, 50, 51, 53, 54, 56, 57, 59, 60, 61, 62, 63, 64, 66, 67, 68, 69, 72, 73, 74, 76, 77, 78, 80, 81, 82, 83, 85, 86, 87, 88, 89, 90, 91, 94, 95, 96, 97, 98, 99}
0

#### Remove every element in the following list from `set1` if they are present in the set. Print the remaining elements.

```
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81]
```

In [34]:
#Your code here
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81]
for value in list_to_remove :
    if value in set1 :
        print(f'{value} deleted from set ')
        set1.remove(value) 
    else :
        print(f'{value} not in set')
print(set1)

1 deleted from set
9 deleted from set
11 deleted from set
19 not in set
21 deleted from set
29 deleted from set
31 deleted from set
39 deleted from set
41 deleted from set
49 deleted from set
51 deleted from set
59 deleted from set
61 deleted from set
69 deleted from set
71 not in set
79 not in set
81 deleted from set
{2, 3, 4, 5, 6, 7, 8, 10, 13, 14, 16, 17, 18, 20, 22, 23, 25, 26, 27, 28, 30, 32, 35, 37, 40, 42, 43, 44, 45, 46, 48, 50, 53, 54, 56, 57, 60, 62, 63, 64, 66, 67, 68, 72, 73, 74, 76, 77, 78, 80, 82, 83, 85, 86, 87, 88, 89, 90, 91, 94, 95, 96, 97, 98, 99}