<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#Acessando-SQL-via-Jupyter" data-toc-modified-id="Acessando-SQL-via-Jupyter-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>Acessando SQL via Jupyter</a></span></li><li><span><a href="#Acessando-SQL-via-Pandas-e-SQLAlchemy" data-toc-modified-id="Acessando-SQL-via-Pandas-e-SQLAlchemy-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>Acessando SQL via Pandas e SQLAlchemy</a></span></li><li><span><a href="#Case-OLIST" data-toc-modified-id="Case-OLIST-3"><span class="toc-item-num">3&nbsp;&nbsp;</span>Case OLIST</a></span></li></ul></div>

# Acessando SQL via Jupyter

In [1]:
%%capture
!pip install ipython-sql

In [2]:
%%capture
%load_ext sql

In [3]:
%sql postgresql://ironhack_project:123456@localhost:5432/Olist

In [5]:
%%sql
SELECT * FROM olist_db.olist_sellers_dataset LIMIT 5

 * postgresql://ironhack_project:***@localhost:5432/Olist
5 rows affected.

[('3442f8959a84dea7ee197c632cb2df15', Decimal('13023'), 'campinas', 'SP'),
 ('d1b65fc7debc3361ea86b5f14c68d2e2', Decimal('13844'), 'mogi guacu', 'SP'),
 ('ce3ad9de960102d0677a81f5d0bb7b2d', Decimal('20031'), 'rio de janeiro', 'RJ'),
 ('c0f3eea2e14555b6faeea3dd58c1b1c3', Decimal('4195'), 'sao paulo', 'SP'),
 ('51a04a8a6bdcb23deccc82b0b80742cf', Decimal('12914'), 'braganca paulista', 'SP')]

# Acessando SQL via Pandas e SQLAlchemy

In [6]:
import psycopg2
from sqlalchemy import create_engine
import pandas as pd

In [7]:
engine = create_engine('postgresql+psycopg2://ironhack_project:123456@localhost:5432/Olist')

In [10]:
query_seller_count = '''
SELECT
    tb_seller.seller_state,
    count(tb_seller.seller_id)
FROM
    olist_db.olist_sellers_dataset as tb_seller
GROUP BY
    tb_seller.seller_state
'''

In [11]:
tb_state_seller_count = pd.read_sql_query(query_seller_count, engine)
tb_state_seller_count

   seller_state  count
0            RN      5
1            SP   1849
2            GO     40
3            AM      1
4            PA      1
5            PB      6
6            PE      9
7            ES     23
8            MT      4
9            PI      1
10           PR    349
11           CE     13
12           BA     19
13           AC      1
14           RJ    171
15           MA      1
16           RO      2
17           SE      2
18           MS      5
19           RS    129
20           SC    190
21           MG    244
22           DF     30

In [12]:
query_order_count = '''
SELECT
    tb_customers.customer_state,
    COUNT(DISTINCT tb_orders.order_id)
FROM
    olist_db.olist_customers_dataset AS tb_customers JOIN
    olist_db.olist_orders_dataset AS tb_orders ON (tb_customers.customer_id = tb_orders.customer_id)
GROUP BY
    tb_customers.customer_state
'''

In [13]:
tb_state_customer_count = pd.read_sql_query(query_order_count, engine)
tb_state_customer_count

   customer_state  count
0              AC     81
1              AL    413
2              AM    148
3              AP     68
4              BA   3380
5              CE   1336
6              DF   2140
7              ES   2033
8              GO   2020
9              MA    747
10             MG  11635
11             MS    715
12             MT    907
13             PA    975
14             PB    536
15             PE   1652
16             PI    495
17             PR   5045
18             RJ  12852
19             RN    485
20             RO    253
21             RR     46
22             RS   5466
23             SC   3637
24             SE    350
25             SP  41746
26             TO    280

# Case OLIST
1) O atraso na entrega é motivo de frustração para clientes de qualquer e-commerce. Gostaríamos de compreender melhor se existem causas estruturais para o atraso e compreender se esses atrasos geram um impacto na percepção do cliente sobre os pedidos:
   - A nossa rede de sellers está espalhada pelo Brasil, assim como nossos clientes. Será que a distância entre sellers e clientes impacta o atraso na entrega?
   - A diversidade de produtos vendidos através de nossa plataforma é grande, será que os atrasos estão concentrados em certos tipos de produto?
   - O impacto sobre a experiência do cliente pode ser mensurado através das diferentes reviews. Qual o impacto dos atrasos sobre estes reviews? Qual seria o impacto se reduzíssemos o número de atrasos em 50%?
   - (BONUS) O tempo de entrega previsto é um dos principais determinantes na escolha de um vendedor especifico em marketplaces online. No entanto ao reduzir a previsão do tempo de entrega corremos o risco de aumentar o número de clientes insatisfeitos. Atualmente as previsões de entrega estão sendo feitas de maneira assertiva? Quais dados você precisaria para analisar os beneficios e riscos de uma previsão de tempo de entrega mais otimista?
   
2) O custo de frete é uma das principais determinantes na escolha de um vendedor em um e-Commerce. Uma maneira de reduzir o custo de frete médio é aumentando a rede de distribuição (sellers) e garantindo que esta rede tenha uma distribuição de localização semelhante à demanda. A área de marketing responsável pela captação de sellers requisitou uma análise para focar esforços em regiões que apresentem um déficit de sellers em relação à demanda. Além disso gostariam de um primeiro indicio sobre os possíveis impactos sobre vendas caso esse deficit seja suprido.

3) (BONUS) A Olist pretende criar um programa de capacitação de sellers com o objetivo de aumentar vendas. Precisamos criar um raio-x da base de sellers atuais, olhando diferentes indicadores comerciais tais quais assortment, volume de vendas, margem, região de origem, região atendida e categoria de produtos ofertadas para criar uma recomendação de 10 sellers que, com pequenas alterações em sua dinâmica de negócio poderiam obter grandes incrementos em vendas. Crie este raio-x de sellers com as dimensões que você acha mais pertinentes e proponha um caminho para fazer a seleção de candidatos ao programa.

A nossa rede de sellers está espalhada pelo Brasil, assim como nossos clientes. Será que a distância entre sellers e clientes impacta o atraso na entrega?

In [45]:
queary = open('C:/Users/forqu/OneDrive/Documentos/IronHack/Github/Data/Olist/Query/Qdelayorderstatesellervsstatecustomer', 'rb')
df_olistdelay = pd.read_sql_query(queary.read().decode(), engine)
queary.close()

In [59]:
df_olistdelay['totalordersdelay'] = df_olistdelay['q_stateordersdelay'].sum()
df_olistdelay['impactordersdelay'] = df_olistdelay['q_stateordersdelay'] / df_olistdelay['totalordersdelay']
df_olistdelay.sort_values('q_stateordersdelay', ascending=False)

,seller_state,customer_state,q_stateordersdelay,totalordersdelay,impactordersdelay
25,SP,SP,1615,7265,0.222299
18,SP,RJ,1269,7265,0.174673
10,SP,MG,427,7265,0.058775
4,SP,BA,335,7265,0.046111
22,SP,RS,261,7265,0.035926
...,...,...,...,...,...
63,RN,RS,1,7265,0.000138
122,MS,SP,1,7265,0.000138
61,RN,CE,1,7265,0.000138
60,RN,BA,1,7265,0.000138
211,AM,AL,1,7265,0.000138

A diversidade de produtos vendidos através de nossa plataforma é grande, será que os atrasos estão concentrados em certos tipos de produto?

In [60]:
queary = open('C:/Users/forqu/OneDrive/Documentos/IronHack/Github/Data/Olist/Query/Q_dataframe', 'rb')
df_olist = pd.read_sql_query(queary.read().decode(), engine)
queary.close()

In [63]:
df_olist.keys()

Index(['order_id', 'customer_id', 'order_estimated_delivery_date',
       'order_delivered_customer_date', 'dif_deliver', 'deliver_status',
       'customer_state', 'seller_id', 'product_id', 'product_category_name',
       'seller_state', 'review_score'],
      dtype='object')

In [85]:
df_olistcategory = df_olist[['order_id','product_category_name','deliver_status']]
df_olistcategorydelay = df_olistcategory[df_olistcategory['deliver_status']=='Delay']
dfolistcategory = df_olistcategorydelay.groupby(['product_category_name','deliver_status']).count().sort_values('order_id', ascending=False)
dfolistcategory['totaldelayorders'] = dfolistcategory['order_id'].sum()
dfolistcategory['impactdelaycategory'] = dfolistcategory['order_id'] / dfolistcategory['totaldelayorders']
dfolistcategory.sort_values('impactdelaycategory', ascending=False)

,,order_id,totaldelayorders,impactdelaycategory
product_category_name,deliver_status,,,
cama_mesa_banho,Delay,757,6999,0.108158
beleza_saude,Delay,699,6999,0.099871
moveis_decoracao,Delay,560,6999,0.080011
esporte_lazer,Delay,523,6999,0.074725
informatica_acessorios,Delay,486,6999,0.069438
...,...,...,...,...
musica,Delay,2,6999,0.000286
flores,Delay,1,6999,0.000143
portateis_cozinha_e_preparadores_de_alimentos,Delay,1,6999,0.000143
artes_e_artesanato,Delay,1,6999,0.000143
fashion_esporte,Delay,1,6999,0.000143

O impacto sobre a experiência do cliente pode ser mensurado através das diferentes reviews. Qual o impacto dos atrasos sobre estes reviews? Qual seria o impacto se reduzíssemos o número de atrasos em 50%?

In [88]:
queary = open('C:/Users/forqu/OneDrive/Documentos/IronHack/Github/Data/Olist/Query/delayreview', 'rb')
df_reviews = pd.read_sql_query(queary.read().decode(), engine)
queary.close()

In [89]:
df_reviews

  deliver_status  meanreview  q_ordersreview
0          Delay    2.256572            7113
1    Not Deliver    1.762288            2360
2        On Time    4.207300          102899

2) O custo de frete é uma das principais determinantes na escolha de um vendedor em um e-Commerce. Uma maneira de reduzir o custo de frete médio é aumentando a rede de distribuição (sellers) e garantindo que esta rede tenha uma distribuição de localização semelhante à demanda. A área de marketing responsável pela captação de sellers requisitou uma análise para focar esforços em regiões que apresentem um déficit de sellers em relação à demanda. Além disso gostariam de um primeiro indicio sobre os possíveis impactos sobre vendas caso esse deficit seja suprido.