# LAB | Hypothesis testing

### Import libraries here:

In [1]:
import pandas as pd
import numpy as np

# Challenge 1 - Independent Sample T-tests

- We will be using  the Pokemon dataset.
- In this challenge our `null hypothesis` is that the legendary pokemons and non legendary pokemons have identical average values.
- Before applying statistical methods to this data, let's first examine the data.
- Read the `pokemon.csv` dataset

In [4]:
# Your code here
pokemon = pd.read_csv('C:/Users/forqu/OneDrive/Documentos/IronHack/Github/Data/Data_M02-L13-hypothesis_testing/pokemon.csv')

- Let's start off by looking at the `head` function.

In [5]:
# Your code here
pokemon.head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False

- Compare the `count` of legendary vs. non legendary Pokemons.

In [7]:
# Your code here
pokemon['Legendary'].value_counts()

False    735
True      65
Name: Legendary, dtype: int64

- Compute the `mean` and `standard deviation` of the `Total` points for both legendary and non-legendary Pokemon.

In [8]:
# Your code here
pokemon_leg = pokemon[pokemon['Legendary']==True]
pokemon_noleg = pokemon[pokemon['Legendary']==False]

In [10]:
pokemon_leg['Total'].mean()

637.3846153846154

In [11]:
pokemon_leg['Total'].std()

60.93738905315346

In [12]:
pokemon_noleg['Total'].mean()

417.21360544217686

In [13]:
pokemon_noleg['Total'].std()

106.76041745713022

### Independent samples t-test
- The computation of the mean might give us a clue regarding how the statistical test may turn out; However, it certainly does not prove whether there is a significant difference between the two groups.
- In the cell below, use the `ttest_ind` function to compare the `Total` points for `legendary` and `non-legendary` pokemon. 
- The `null hypothesis` is that the legendary pokemons and non legendary pokemons have identical average values.
- Since we do not have any information about the population, assume the variances are not equal.
```python
from scipy.stats import ttest_ind
```

In [16]:
# Your code here
from scipy.stats import ttest_ind
ttest_ind(pokemon_leg['Total'],pokemon_noleg['Total'])

Ttest_indResult(statistic=16.386116965872425, pvalue=3.0952457469652825e-52)

- What do you conclude from this test? Write your conclusions below.
- Assume your confidence interval is 0.05

# Your answer here
legendary and not legendary pokemons have diferents average values

### Different types of pokemons
- How about we try to compare the different types of pokemon? 
- In the cell below, list the types of Pokemon from column `Type 1` and the count of each type.

In [17]:
# Your code here
pokemon['Type 1'].value_counts()

Water       112
Normal       98
Grass        70
Bug          69
Psychic      57
Fire         52
Rock         44
Electric     44
Dragon       32
Ghost        32
Ground       32
Dark         31
Poison       28
Fighting     27
Steel        27
Ice          24
Fairy        17
Flying        4
Name: Type 1, dtype: int64

- Since water is the largest group of Pokemon, print the `mean` and `standard deviation` for water pokemons and non-water pokemons.

In [18]:
# Your code here
pokemon_water = pokemon[pokemon['Type 1']=='Water']
pokemon_nowater = pokemon[pokemon['Type 1']!='Water']

In [19]:
pokemon_water['Total'].mean()

430.45535714285717

In [20]:
pokemon_nowater['Total'].mean()

435.85901162790697

In [21]:
pokemon_water['Total'].std()

113.18826606431458

In [22]:
pokemon_nowater['Total'].std()

121.09168230208066

- Perform an independent samples t-test to compare the `mean` of `Total` points for water Pokemon to all non-water Pokemon. 
- Assume the variances are equal.

In [23]:
# Your code here
ttest_ind(pokemon_water['Total'],pokemon_nowater['Total'])

Ttest_indResult(statistic=-0.4418547448849676, pvalue=0.6587140317488793)

- Can we reject the Null hypothesis?
- Write your conclusion below.

# Your answer here
Null hypothesis cant be rejected water pokens and no water pokemns have a identical avarage values

____________________________________

# Challenge 2 - Matched Pairs Test

- In this challenge we will compare dependent samples of data describing our Pokemon. 
- Our goal is to see whether there is a significant difference between each Pokemon's defense and attack scores. 
- Our hypothesis is that the defense and attack scores are equal. 
- Use the `ttest_rel` function to compare Pokemon's `defense` and `attack` and see if there is a statistically significant difference between them.
```python
from scipy.stats import ttest_rel
```

In [24]:
# Your code here
from scipy.stats import ttest_rel
ttest_rel(pokemon['Defense'],pokemon['Attack'])

Ttest_relResult(statistic=-4.325566393330478, pvalue=1.7140303479358558e-05)

- Can we reject the Null hypothesis?
- Write your conclusion below.

# Your answer here
yes we can reject the hypotesis  

pokemns have a diferens bettewn defense and attack

- We are also curious if is a significant difference between the mean of `Sp. Def` and the mean of `Sp. Atk`. 
- Perform the hypothesis test in the cell below.

In [45]:
# Your code here
from scipy import stats
Def = stats.tmean(pokemon['Defense'])
Atk = stats.tmean(pokemon['Attack'])
ttest_rel(Def,Atk)

Ttest_relResult(statistic=nan, pvalue=nan)

- Can we reject the Null hypothesis?
- Write your conclusion below.

In [ ]:
# Your answer here

- As you may recall, a two sample matched pairs test can also be expressed as a one sample test of the difference between the two dependent columns.
- Import the `ttest_1samp` function and perform a one sample t-test.
- Use the difference between defense and attack. Test the hypothesis that the difference between the means is zero. Confirm that the results of the test are the same.
```python
from scipy.stats import ttest_1samp
```

In [47]:
# Your code here
from scipy.stats import ttest_1samp
ttest_1samp(pokemon['Defense']-pokemon['Attack'],0)

Ttest_1sampResult(statistic=-4.325566393330478, pvalue=1.7140303479358558e-05)

# Bonus Challenge - The Chi-Square Test

- The Chi-Square test is used to determine whether there is a statistically significant difference in frequencies. In other words, we are testing whether there is a relationship between categorical variables or rather when the variables are independent. This test is an alternative to Fisher's exact test and is used in scenarios where sample sizes are larger. However, with a large enough sample size, both tests produce similar results. 
- Read more about the Chi Squared test [here](https://en.wikipedia.org/wiki/Chi-squared_test).
- In the cell below, create a contingency table using `pd.crosstab` comparing whether a Pokemon is legendary or not and whether the Type 1 of a Pokemon is water or not.
```python
contingency_table = pd.crosstab(pokemon['Legendary'], pokemon['Type 1'] == "Water")
```

In [48]:
# Your code here
contingency_table = pd.crosstab(pokemon['Legendary'], pokemon['Type 1'] == "Water")

- Perform a chi-squared test using the `chi2_contingency`
- You can read the documentation of the function [here](https://docs.scipy.org/doc/scipy-0.15.1/reference/generated/scipy.stats.chi2_contingency.html).
```python
from scipy.stats import chi2_contingency
```

In [49]:
# Your code here
from scipy.stats import chi2_contingency
chi2_contingency(contingency_table)

(2.9429200762850503,
 0.08625467249550949,
 1,
 array([[632.1, 102.9],
        [ 55.9,   9.1]]))

- Based on a 95% confidence, should we reject the null hypothesis?

In [ ]:
# Your answer here