In [1]:
import pandas as pd
import numpy as np
import warnings
import zipfile
import os

In [2]:
warnings.filterwarnings("ignore")
data_path = 'C:/Users/forqu/OneDrive/Documentos/IronHack/Github/Projetos/2022-Better-Working-World-Data-Challenge/notebooks/'
output_path = 'C:/Users/forqu/OneDrive/Documentos/IronHack/Github/Projetos/2022-Better-Working-World-Data-Challenge/notebooks/dataset./output/'

In [3]:
if not os.path.exists(data_path+'training_data/'):
    os.mkdir(data_path+'/training_data/')
    with zipfile.ZipFile(data_path+'GBIF_training_data.zip', 'r') as zip_ref:
        zip_ref.extractall(data_path+'/training_data/')

In [15]:
columns = [
    'gbifID','basisOfRecord','eventDate','country','continent','stateProvince',
    'decimalLatitude','decimalLongitude','species', 'coordinateUncertaintyInMeters'
]

country_names = {
    'AU':'Australia', 'CR':'Costa Rica', 'ZA':'South Africa','MX':'Mexico','HN':'Honduras',
    'MZ':'Mozambique','BW':'Botswana','MW':'Malawi','CO':'Colombia','PA':'Panama','NI':'Nicaragua',
    'BZ':'Belize','ZW':'Zimbabwe','SZ':'Eswatini','ZM':'Zambia','GT':'Guatemala','LS':'Lesotho',
    'SV':'El Salvador', 'AO':'Angola', np.nan:'unknown or invalid'
}

continent_names = {
    'AU':'Australia', 'CR':'Central America', 'ZA':'Africa','MX':'Central America','HN':'Central America',
    'MZ':'Africa','BW':'Africa','MW':'Africa','CO':'Central America','PA':'Central America',
    'NI':'Central America','BZ':'Central America','ZW':'Africa','SZ':'Africa','ZM':'Africa',
    'GT':'Central America','LS':'Africa','SV':'Central America','AO':'Africa', np.nan:'unknown or invalid' 
}
    
data = (
    pd.read_csv(data_path+'training_data/occurrence.txt', sep='\t', parse_dates=['eventDate']
               )
"""    .assign(
        country =  lambda x: x.countryCode.map(country_names),
        continent =  lambda x: x.countryCode.map(continent_names),
        species = lambda x: x.species.str.title()
    )    
    # Rename ranoidea australis to cyclorana australis
    .assign(species = lambda x: np.where(x.species == 'Ranoidea Australis', 'Cyclorana Australis', x.species))
    [columns]
)

np.sum(data.isna())/len(data)*100"""
"""

"\n    .assign(\n        country =  lambda x: x.countryCode.map(country_names),\n        continent =  lambda x: x.countryCode.map(continent_names),\n        species = lambda x: x.species.str.title()\n    )    \n    # Rename ranoidea australis to cyclorana australis\n    .assign(species = lambda x: np.where(x.species == 'Ranoidea Australis', 'Cyclorana Australis', x.species))\n    [columns]\n)\n\nnp.sum(data.isna())/len(data)*100"

In [20]:
data.to_csv('frogs.csv')
np.sum(data.isna())/len(data)

gbifID                 0.000000
abstract               1.000000
accessRights           0.994097
accrualMethod          1.000000
accrualPeriodicity     1.000000
                         ...
level2Gid              0.005145
level2Name             0.005145
level3Gid              0.988720
level3Name             0.988720
iucnRedListCategory    0.001290
Length: 257, dtype: float64

In [17]:
data.head(10)

,gbifID,abstract,accessRights,accrualMethod,accrualPeriodicity,accrualPolicy,alternative,audience,available,bibliographicCitation,...,relativeOrganismQuantity,level0Gid,level0Name,level1Gid,level1Name,level2Gid,level2Name,level3Gid,level3Name,iucnRedListCategory
0,2574007008,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,AUS,Australia,AUS.5_1,New South Wales,AUS.5.110_1,Port Stephens,NaN,NaN,LC
1,3457021422,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,CRI,Costa Rica,CRI.6_1,Puntarenas,CRI.6.7_1,Golfito,NaN,NaN,LC
2,1571195309,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,CRI,Costa Rica,CRI.4_1,Heredia,CRI.4.10_1,Sarapiqu√≠,NaN,NaN,LC
3,2265778539,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,CRI,Costa Rica,CRI.6_1,Puntarenas,CRI.6.6_1,Garabito,NaN,NaN,LC
4,3407962690,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,AUS,Australia,AUS.7_1,Queensland,AUS.7.62_1,Sunshine Coast,NaN,NaN,LC
5,2251945867,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,PAN,Panama,PAN.1_1,Bocas del Toro,PAN.1.2_1,Changuinola,PAN.1.2.3_1,Guabito,LC
6,1836625681,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,MOZ,Mozambique,MOZ.6_1,Maputo,MOZ.6.6_1,Moamba,MOZ.6.6.4_1,Sabie,LC
7,1944370584,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,LC
8,1500319380,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,AUS,Australia,AUS.7_1,Queensland,AUS.7.28_1,Gold Coast,NaN,NaN,LC
9,1913177945,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,CRI,Costa Rica,CRI.5_1,Lim√≥n,CRI.5.4_1,Pococ√≠,NaN,NaN,LC

In [18]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 193791 entries, 0 to 193790
Columns: 257 entries, gbifID to iucnRedListCategory
dtypes: bool(2), datetime64[ns](1), float64(104), int64(11), object(139)
memory usage: 377.4+ MB

In [19]:
data.describe()

,gbifID,abstract,accrualMethod,accrualPeriodicity,accrualPolicy,alternative,audience,available,conformsTo,contributor,...,acceptedTaxonKey,kingdomKey,phylumKey,classKey,orderKey,familyKey,genusKey,subgenusKey,speciesKey,relativeOrganismQuantity
count,1.937910e+05,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.937910e+05,193791.0,193791.0,193791.0,193791.0,1.937910e+05,1.937910e+05,0.0,1.937910e+05,0.0
mean,2.538989e+09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2.654670e+06,1.0,44.0,131.0,952.0,1.335625e+06,4.550468e+06,NaN,2.652826e+06,NaN
std,1.009713e+09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.255781e+06,0.0,0.0,0.0,0.0,2.153818e+06,3.637902e+06,NaN,1.248607e+06,NaN
min,4.507536e+07,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2.421895e+06,1.0,44.0,131.0,952.0,3.089000e+03,2.421884e+06,NaN,2.421895e+06,NaN
25%,1.637104e+09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2.424585e+06,1.0,44.0,131.0,952.0,3.089000e+03,2.424582e+06,NaN,2.424585e+06,NaN
50%,3.108886e+09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2.424585e+06,1.0,44.0,131.0,952.0,3.089000e+03,2.424582e+06,NaN,2.424585e+06,NaN
75%,3.463558e+09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2.427671e+06,1.0,44.0,131.0,952.0,4.817039e+06,4.816749e+06,NaN,2.427671e+06,NaN
max,3.469585e+09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.075702e+07,1.0,44.0,131.0,952.0,4.817115e+06,1.092125e+07,NaN,1.075702e+07,NaN

In [33]:
data['coordinateUncertaintyInMeters'].describe()

count    1.763760e+05
mean     1.198690e+03
std      1.088191e+04
min      1.000000e-02
25%      9.000000e+00
50%      6.500000e+01
75%      2.000000e+02
max      1.601006e+06
Name: coordinateUncertaintyInMeters, dtype: float64

In [37]:
pd.to_datetime(data['eventDate']).describe(datetime_is_numeric=True)

count                           185026
mean     2010-03-29 16:58:06.091036160
min                1754-03-01 00:00:00
25%                2004-09-12 00:00:00
50%                2018-06-25 00:00:00
75%                2019-11-17 00:00:00
max                2022-02-10 14:32:00
Name: eventDate, dtype: object

In [46]:
pd.to_datetime(data['eventDate']).quantile(q=[0.0,0.001,0.005,0.01,0.02,0.03,0.04,0.05,0.06,0.07,0.08,0.09,0.1,0.15,0.20])

0.000   1754-03-01
0.001   1900-01-01
0.005   1948-02-14
0.010   1960-09-15
0.020   1963-08-23
0.030   1968-05-12
0.040   1972-06-18
0.050   1976-06-14
0.060   1977-03-15
0.070   1979-11-08
0.080   1985-09-15
0.090   1989-09-14
0.100   1991-11-01
0.150   1997-09-17
0.200   2001-03-05
Name: eventDate, dtype: datetime64[ns]

In [38]:
data['eventDate'].describe()

count                  185026
unique                  18147
top       2010-12-17 00:00:00
freq                     1712
first     1754-03-01 00:00:00
last      2022-02-10 14:32:00
Name: eventDate, dtype: object