In [1]:
import pandas as pd
import numpy as np

 Consumo de alcohol

In [6]:
file = open('C:/Users/forqu/OneDrive/Documentos/IronHack/Github/Projetos/History of Rock(1950-2020)/Data/Alcohol, record per capital (15+) consuption (World Health organization).csv', 'rb')
file_lines = file.readlines(10000)
for i in range(5):
    print(file_lines[i].decode('UTF-8'))
file.close()

IndicatorCode,Indicator,ValueType,ParentLocationCode,ParentLocation,Location type,SpatialDimValueCode,Location,Period type,Period,IsLatestYear,Dim1 type,Dim1,Dim1ValueCode,Dim2 type,Dim2,Dim2ValueCode,Dim3 type,Dim3,Dim3ValueCode,DataSourceDimValueCode,DataSource,FactValueNumericPrefix,FactValueNumeric,FactValueUoM,FactValueNumericLowPrefix,FactValueNumericLow,FactValueNumericHighPrefix,FactValueNumericHigh,Value,FactValueTranslationID,FactComments,Language,DateModified

SA_0000001400,"Alcohol, recorded per capita (15+) consumption (in litres of pure alcohol)",numeric,EMR,Eastern Mediterranean,Country,AFG,Afghanistan,Year,2019,true,Beverage Types,Beer,SA_BEER,,,,,,,GISAHAFG,Data source,,0,,,0,,0,0 [0 – 0],,,EN,2021-04-29T03:00:00.000Z

SA_0000001400,"Alcohol, recorded per capita (15+) consumption (in litres of pure alcohol)",numeric,EMR,Eastern Mediterranean,Country,AFG,Afghanistan,Year,2019,true,Beverage Types,Wine,SA_WINE,,,,,,,GISAHCUB,Data source,,0,,,0,,0,0 [0 – 0],,,EN,2021-04-29T03:00:00.000Z

SA_0000001400,"Alcohol, recorded per capita (15+) consumption (in litres of pure alcohol)",numeric,EMR,Eastern Mediterranean,Country,AFG,Afghanistan,Year,2019,true,Beverage Types,Other alcoholic beverages,SA_OTHER_ALCOHOL,,,,,,,GISAHNIU,Data source,,0,,,0,,0,0 [0 – 0],,,EN,2021-04-29T03:00:00.000Z

SA_0000001400,"Alcohol, recorded per capita (15+) consumption (in litres of pure alcohol)",numeric,AFR,Africa,Country,DZA,Algeria,Year,2019,true,Beverage Types,Other alcoholic beverages,SA_OTHER_ALCOHOL,,,,,,,GISAHPNG,Data source,,0,,,0,,0,0 [0 – 0],,,EN,2021-04-29T03:00:00.000Z

In [15]:
Alcoholconsuption=pd.read_csv('C:/Users/forqu/OneDrive/Documentos/IronHack/Github/Projetos/History of Rock(1950-2020)/Data/Alcohol, record per capital (15+) consuption (World Health organization).csv', sep = ',', decimal = '.', encoding = 'UTF-8')
Alcoholconsuption.head()

,IndicatorCode,Indicator,ValueType,ParentLocationCode,ParentLocation,Location type,SpatialDimValueCode,Location,Period type,Period,...,FactValueUoM,FactValueNumericLowPrefix,FactValueNumericLow,FactValueNumericHighPrefix,FactValueNumericHigh,Value,FactValueTranslationID,FactComments,Language,DateModified
0,SA_0000001400,"Alcohol, recorded per capita (15+) consumption...",numeric,EMR,Eastern Mediterranean,Country,AFG,Afghanistan,Year,2019,...,NaN,NaN,0.0,NaN,0.0,0 [0 – 0],NaN,NaN,EN,2021-04-29T03:00:00.000Z
1,SA_0000001400,"Alcohol, recorded per capita (15+) consumption...",numeric,EMR,Eastern Mediterranean,Country,AFG,Afghanistan,Year,2019,...,NaN,NaN,0.0,NaN,0.0,0 [0 – 0],NaN,NaN,EN,2021-04-29T03:00:00.000Z
2,SA_0000001400,"Alcohol, recorded per capita (15+) consumption...",numeric,EMR,Eastern Mediterranean,Country,AFG,Afghanistan,Year,2019,...,NaN,NaN,0.0,NaN,0.0,0 [0 – 0],NaN,NaN,EN,2021-04-29T03:00:00.000Z
3,SA_0000001400,"Alcohol, recorded per capita (15+) consumption...",numeric,AFR,Africa,Country,DZA,Algeria,Year,2019,...,NaN,NaN,0.0,NaN,0.0,0 [0 – 0],NaN,NaN,EN,2021-04-29T03:00:00.000Z
4,SA_0000001400,"Alcohol, recorded per capita (15+) consumption...",numeric,EUR,Europe,Country,AND,Andorra,Year,2019,...,NaN,NaN,0.0,NaN,0.0,0 [0 – 0],NaN,NaN,EN,2021-04-29T03:00:00.000Z

In [29]:
Alcoholconsuption.columns

Index(['IndicatorCode', 'Indicator', 'ValueType', 'ParentLocationCode',
       'ParentLocation', 'Location type', 'SpatialDimValueCode', 'Location',
       'Period type', 'Period', 'IsLatestYear', 'Dim1 type', 'Dim1',
       'Dim1ValueCode', 'Dim2 type', 'Dim2', 'Dim2ValueCode', 'Dim3 type',
       'Dim3', 'Dim3ValueCode', 'DataSourceDimValueCode', 'DataSource',
       'FactValueNumericPrefix', 'FactValueNumeric', 'FactValueUoM',
       'FactValueNumericLowPrefix', 'FactValueNumericLow',
       'FactValueNumericHighPrefix', 'FactValueNumericHigh', 'Value',
       'FactValueTranslationID', 'FactComments', 'Language', 'DateModified'],
      dtype='object')

In [74]:
Alcoholconsuption['FactValueTranslationID'].unique()

array([nan])

In [75]:
alcoholconsuption = Alcoholconsuption[['ParentLocation','Location','Period','Dim1','FactValueNumeric','FactValueNumericLow', 'FactValueNumericHigh', 'Value' ]]
alcoholconsuption

,ParentLocation,Location,Period,Dim1,FactValueNumeric,FactValueNumericLow,FactValueNumericHigh,Value
0,Eastern Mediterranean,Afghanistan,2019,Beer,0.00,0.0,0.0,0 [0 – 0]
1,Eastern Mediterranean,Afghanistan,2019,Wine,0.00,0.0,0.0,0 [0 – 0]
2,Eastern Mediterranean,Afghanistan,2019,Other alcoholic beverages,0.00,0.0,0.0,0 [0 – 0]
3,Africa,Algeria,2019,Other alcoholic beverages,0.00,0.0,0.0,0 [0 – 0]
4,Europe,Andorra,2019,Other alcoholic beverages,0.00,0.0,0.0,0 [0 – 0]
...,...,...,...,...,...,...,...,...
47789,Americas,United States of America,1960,Spirits,3.26,NaN,NaN,3.26
47790,Americas,United States of America,1960,Beer,3.75,NaN,NaN,3.75
47791,Europe,Austria,1960,Beer,4.70,NaN,NaN,4.7
47792,Americas,United States of America,1960,All types,7.83,NaN,NaN,7.83
47793,Europe,Austria,1960,All types,8.91,NaN,NaN,8.91

In [59]:
file = open('C:/Users/forqu/OneDrive/Documentos/IronHack/Github/Projetos/History of Rock(1950-2020)/Data/deaths-attributed-to-alcohol-use-by-age.csv', 'rb')
file_lines = file.readlines(10000)
for i in range(5):
    print(file_lines[i].decode('latin-1'))
file.close()

Entity,Code,Year,Deaths - Alcohol use - Sex: Both - Age: Under 5 (Number),Deaths - Alcohol use - Sex: Both - Age: 70+ years (Number),Deaths - Alcohol use - Sex: Both - Age: 50-69 years (Number),Deaths - Alcohol use - Sex: Both - Age: 5-14 years (Number),Deaths - Alcohol use - Sex: Both - Age: 15-49 years (Number)

Afghanistan,AFG,1990,,-1.232956300822979,159.04498244362145,0.6385758543491409,198.07870486400262

Afghanistan,AFG,1991,,-9.539797075377507,134.0888083703571,0.6311983910085259,195.4182515455558

Afghanistan,AFG,1992,,-17.965002061538605,107.2565425162102,0.6973421420969111,203.26813362016617

Afghanistan,AFG,1993,,-24.962000080906414,83.88873473112277,0.8252449233497208,218.37777875272883

In [61]:
alcoholdeath=pd.read_csv('C:/Users/forqu/OneDrive/Documentos/IronHack/Github/Projetos/History of Rock(1950-2020)/Data/deaths-attributed-to-alcohol-use-by-age.csv', sep = ',', decimal = '.', encoding = 'latin-1')
alcoholdeath.head()

,Entity,Code,Year,Deaths - Alcohol use - Sex: Both - Age: Under 5 (Number),Deaths - Alcohol use - Sex: Both - Age: 70+ years (Number),Deaths - Alcohol use - Sex: Both - Age: 50-69 years (Number),Deaths - Alcohol use - Sex: Both - Age: 5-14 years (Number),Deaths - Alcohol use - Sex: Both - Age: 15-49 years (Number)
0,Afghanistan,AFG,1990,NaN,-1.232956,159.044982,0.638576,198.078705
1,Afghanistan,AFG,1991,NaN,-9.539797,134.088808,0.631198,195.418252
2,Afghanistan,AFG,1992,NaN,-17.965002,107.256543,0.697342,203.268134
3,Afghanistan,AFG,1993,NaN,-24.962000,83.888735,0.825245,218.377779
4,Afghanistan,AFG,1994,NaN,-30.838953,62.871469,0.884239,217.774814

In [5]:
file = open('C:/Users/forqu/OneDrive/Documentos/IronHack/Github/Projetos/History of Rock(1950-2020)/Data/history-of-rock-spotify.csv', 'rb')
file_lines = file.readlines(10000)
for i in range(5):
    print(file_lines[i].decode('latin-1'))
file.close()

index,name,artist,release_date,length,popularity,danceability,acousticness,danceability,energy,instrumentalness,key,liveness,loudness,speechiness,tempo,time_signature,valence

0,Smells Like Teen Spirit,Nirvana,1991,5.032,74,0.502,2.55E-05,0.502,0.912,0.000173,1,0.106,-4.556,0.0564,116.761,4,0.72

1,Stairway to Heaven - Remaster,Led Zeppelin,1971,8.047166667,78,0.338,0.58,0.338,0.34,0.0032,9,0.116,-12.049,0.0339,82.433,4,0.197

2,Bohemian Rhapsody - Remastered 2011,Queen,1975,5.905333333,74,0.392,0.288,0.392,0.402,0,0,0.243,-9.961,0.0536,143.883,4,0.228

3,Imagine - Remastered 2010,John Lennon,1971,3.1311,77,0.547,0.907,0.547,0.257,0.183,0,0.0935,-12.358,0.0252,75.752,4,0.169

In [12]:
rockhistory=pd.read_csv('C:/Users/forqu/OneDrive/Documentos/IronHack/Github/Projetos/History of Rock(1950-2020)/Data/history-of-rock-spotify.csv', sep = ',', decimal = '.', encoding = 'latin-1')
rockhistory.head()

,index,name,artist,release_date,length,popularity,danceability,acousticness,danceability.1,energy,instrumentalness,key,liveness,loudness,speechiness,tempo,time_signature,valence
0,0,Smells Like Teen Spirit,Nirvana,1991,5.032000,74,0.502,0.000025,0.502,0.912,0.000173,1,0.1060,-4.556,0.0564,116.761,4,0.720
1,1,Stairway to Heaven - Remaster,Led Zeppelin,1971,8.047167,78,0.338,0.580000,0.338,0.340,0.003200,9,0.1160,-12.049,0.0339,82.433,4,0.197
2,2,Bohemian Rhapsody - Remastered 2011,Queen,1975,5.905333,74,0.392,0.288000,0.392,0.402,0.000000,0,0.2430,-9.961,0.0536,143.883,4,0.228
3,3,Imagine - Remastered 2010,John Lennon,1971,3.131100,77,0.547,0.907000,0.547,0.257,0.183000,0,0.0935,-12.358,0.0252,75.752,4,0.169
4,4,(I Can't Get No) Satisfaction - Mono Version,The Rolling Stones,1965,3.713550,77,0.723,0.038300,0.723,0.863,0.031700,2,0.1280,-7.890,0.0338,136.302,4,0.931

In [81]:
rockhistory.groupby('release_date')['release_date'].count()

release_date
1956     5
1957    14
1958    12
1959    24
1960     6
        ..
2016    30
2017    45
2018    36
2019    43
2020    96
Name: release_date, Length: 65, dtype: int64